<h1>Reviewers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>GitHub Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>ORCID Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @reviewers.each do |reviewer| %>
      <tr>
        <td><%= link_to "@#{reviewer.github_username}", "https://github.com/#{reviewer.github_username}" %></td>
        <td><%= reviewer.name %></td>
        <td><%= reviewer.email %></td>
        <td>
          <% if reviewer.has_orcid_authentication? %>
            <span class="badge badge-success">
              <%= link_to "Connected", reviewer.orcid_url, target: "_blank", class: "text-white" %>
            </span>
          <% else %>
            <span class="badge badge-secondary">Not connected</span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', reviewer_path(reviewer), class: 'btn btn-sm btn-outline-primary' %>
          <% if current_user&.admin? %>
            <%= link_to 'Edit', edit_reviewer_path(reviewer), class: 'btn btn-sm btn-outline-secondary' %>
            <%= link_to 'Delete', reviewer_path(reviewer), method: :delete, 
                        data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user&.admin? %>
  <%= link_to 'Add New Reviewer', new_reviewer_path, class: 'btn btn-primary' %>
<% end %>
