<h1>Reviewer Profile</h1>

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to "@#{@reviewer.github_username}", "https://github.com/#{@reviewer.github_username}", target: "_blank" %>
        </h5>
        
        <% if @reviewer.name.present? %>
          <p class="card-text"><strong>Name:</strong> <%= @reviewer.name %></p>
        <% end %>
        
        <% if @reviewer.email.present? %>
          <p class="card-text"><strong>Email:</strong> <%= @reviewer.email %></p>
        <% end %>
        
        <p class="card-text">
          <strong>ORCID Status:</strong> 
          <% if @reviewer.has_orcid_authentication? %>
            <span class="badge badge-success">
              <%= link_to "Connected", @reviewer.orcid_url, target: "_blank", class: "text-white" %>
            </span>
          <% else %>
            <span class="badge badge-secondary">Not connected</span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="mt-3">
  <%= link_to 'Back to Reviewers', reviewers_path, class: 'btn btn-secondary' %>
  <% if current_user&.admin? %>
    <%= link_to 'Edit', edit_reviewer_path(@reviewer), class: 'btn btn-primary' %>
  <% end %>
</div>
