<div class="tracks">
  <div class="content">

    <h1><%= @track.name %></h1>

    <p>
      <strong>Code:</strong>
      <%= @track.code %>
    </p>

    <p>
      <strong>Short name:</strong>
      <%= @track.short_name %>
    </p>

    <p>
      <strong>Associate Editor(s) in Chief:</strong>
      <ul>
      <% @track.aeics.each do |aeic| %>
        <li><%= aeic.full_name %></li>
      <% end %>
      </ul>
    </p>

    <p>
      <%= link_to "In-progress papers currently assigned to this track", dashboard_in_progress_path(track_id: @track) %>:
      <strong><%= Paper.in_progress.by_track(@track.id).count %></strong>
    </p>

    <div class="links">
      <%= link_to 'Edit', edit_track_path(@track) %> |
      <%= link_to 'List', tracks_path %>
    </div>
  </div>
</div>
