<div class="container" id="toc-header">
  <div class="welcome"><%= link_to "Table of Contents", toc_index_path %> <%= "Year " + @year.to_s if @year %></div>
  <div class="hero-small">
    <div class="hero-title">
      <%= image_tag "icon_papers.svg", height: "32px" %>
      <h1>Volume <%= params[:volume] %></h1>
    </div>
  </div>
</div>

<div class="container">
  <%= render partial: "list" %>
</div>
