<div class="editor">
  <img src="<%= editor.avatar_url %>" class="avatar left" width="100" alt="<%= editor.full_name %>">
  <h3>
    <% if !editor.login.blank? %>
      <%= link_to "#{editor.full_name} (@#{editor.login})", editor.url %>,
    <% else %>
      <%= link_to "#{editor.full_name}", editor.url %>,
    <% end %>
    <%- if editor.board? %>
      <%= editor.title %>
    <%- else %>
      Editor
    <%- end %>

    <%- if editor.categories.present? %>
      : <%= editor.category_list %>
    <%- end %>
  </h3>
  <p>
    <%= editor.description.html_safe %>
  </p>
</div>
