<div class="media editor">
  <img src="<%= editor.avatar_url %>" class="editor-avatar" alt="<%= editor.full_name %>">
  <div class="media-body">
    <h5 class="mt-0">
      <% if !editor.login.blank? %>
      <%= link_to "#{editor.full_name} (@#{editor.login})", editor.url %>
      <% else %>
      <%= link_to "#{editor.full_name}", editor.url %>
      <% end %>
    </h5>
    <div class="small">
      <%- if editor.board? %><%= editor.title %><%- else %>Editor<%- end %><%- if editor.categories.present? %>: <%= editor.category_list %><%- end %>
    </div>
    <p><%= editor.description.html_safe %></p>

  </div>
</div>
