**Submitting author:** <%= paper.submitting_author.github_username %> (<%= link_to paper.submitting_author.name, paper.submitting_author.orcid_url %>)
**Repository:** <a href="<%= paper.repository_url %>" target ="_blank"><%= paper.repository_url %></a>
**Version:** <%= paper.software_version %>
**Editor:** <%= editor %>
**Reviewer:** Pending

**Author instructions**

<%- abbreviation, reviewers = Rails.application.settings.values_at("abbreviation", "reviewers") %>
Thanks for submitting your paper to <%= abbreviation %> <%= paper.submitting_author.github_username %>. The <%= abbreviation %> editor (shown at the top of this issue) will work with you on this issue to find a reviewer for your submission before creating the main review issue.

<%= paper.submitting_author.github_username %> if you have any suggestions for potential reviewers then please mention them here in this thread. In addition, [this list of people](<%= reviewers %>) have already agreed to review for <%= abbreviation %> and may be suitable for this submission.

**Editor instructions**

The <%= abbreviation %> submission bot @whedon is here to help you find and assign reviewers and start the main review. To find out what @whedon can do for you type:

```
@whedon commands
```
