**Submitting author:** <!--author-handle--><%= paper.submitting_author.github_username %><!--end-author-handle--> (<%= link_to paper.submitting_author.name, paper.submitting_author.orcid_url %>)
**Repository:** <!--target-repository--><%= paper.repository_url %><!--end-target-repository-->
**Branch with paper.md** (empty if default branch): <!--branch--><!--end-branch-->
**Version:** <!--version--><%= paper.software_version %><!--end-version-->
**Editor:** <!--editor-->Pending<!--end-editor-->
**Reviewers:** <!--reviewers-list--><!--end-reviewers-list-->
**Managing EiC:** <%= eic_name %>

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

## Status

<%- url = Rails.application.settings["url"] %>
[![status](<%= url %>/papers/<%= paper.sha %>/status.svg)](<%= url %>/papers/<%= paper.sha %>)

Status badge code:

```
HTML: <a href="<%= url %>/papers/<%= paper.sha %>"><img src="<%= url %>/papers/<%= paper.sha %>/status.svg"></a>
Markdown: [![status](<%= url %>/papers/<%= paper.sha %>/status.svg)](<%= url %>/papers/<%= paper.sha %>)
```

**Author instructions**

<%- abbreviation, reviewers, botname = Rails.application.settings.values_at("abbreviation", "reviewers", "bot_username") %>
<% if suggested_editor == "Pending" %>
Thanks for submitting your paper to <%= abbreviation %> <%= paper.submitting_author.github_username %>. **Currently, there isn't an <%= abbreviation %> editor assigned** to your paper.
<% else %>
Thanks for submitting your paper to <%= abbreviation %> <%= paper.submitting_author.github_username %>. **Currently, there isn't an <%= abbreviation %> editor assigned** to your paper.

The author's suggestion for the handling editor is <%= suggested_editor %>.
<% end %>

<%= paper.submitting_author.github_username %> if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](<%= reviewers %>) have already agreed to review for <%= abbreviation %> and may be suitable for this submission (please start at the bottom of the list).

**Editor instructions**

The <%= abbreviation %> submission bot @<%= botname %> is here to help you find and assign reviewers and start the main review. To find out what @<%= botname %> can do for you type:

```
@<%= botname %> commands
```
