**Submitting author:** <%= paper.submitting_author.github_username %> (<%= link_to paper.submitting_author.name, paper.submitting_author.orcid_url %>)
**Repository:** <a href="<%= paper.repository_url %>" target ="_blank"><%= paper.repository_url %></a>
**Version:** <%= paper.software_version %>
**Editor:** <%= editor %>
**Reviewer:** <%= reviewers.join(', ') %>
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

## Status

<%- url = Rails.application.settings["url"] %>
[![status](<%= url %>/papers/<%= paper.sha %>/status.svg)](<%= url %>/papers/<%= paper.sha %>)

Status badge code:

```
HTML: <a href="<%= url %>/papers/<%= paper.sha %>"><img src="<%= url %>/papers/<%= paper.sha %>/status.svg"></a>
Markdown: [![status](<%= url %>/papers/<%= paper.sha %>/status.svg)](<%= url %>/papers/<%= paper.sha %>)
```
**Reviewers and authors**:

Please avoid lengthy details of difficulties in the review thread. Instead, please create a new issue in the <a href="<%= paper.repository_url %>" target="_blank">target repository</a> and link to those issues (especially acceptance-blockers) by leaving comments in the review thread below. (For completists: if the target issue tracker is also on GitHub, linking the review thread in the issue or vice versa will create corresponding breadcrumb trails in the link target.)

## Reviewer instructions & questions

<%= reviewers.join(' & ').html_safe %>, please carry out your review in this issue by updating the checklist below. If you cannot edit the checklist please:
1. Make sure you're logged in to your GitHub account
2. Be sure to accept the invite at this URL: https://github.com/openjournals/jose-reviews/invitations

The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. Any questions/concerns please let <%= editor %> know.

✨ **Please start on your review when you are able, and be sure to complete your review in the next six weeks, at the very latest** ✨ 

<%- reviewers.each do |reviewer| %>
## Review checklist for <%= reviewer %>
<%- if paper.kind.present? %>
<%= render partial: "content/github/#{paper.kind}_review_checklist", locals: local_assigns %>
<%- else %>
<%= render partial: "content/github/review_checklist", locals: local_assigns %>
<%- end %>
<%- end %>
