**Submitting author:** <%= paper.submitting_author.github_username %> (<%= link_to paper.submitting_author.name, paper.submitting_author.orcid_url %>)
**Repository:** <a href="<%= paper.repository_url %>" target ="_blank"><%= paper.repository_url %></a>
**Version:** <%= paper.software_version %>
**Editor:** <%= editor %>
**Reviewer:** <%= reviewer %>
**Archive:** Pending

## Status

<%- url = Rails.application.settings["url"] %>
[![status](<%= :url %>/papers/<%= paper.sha %>/status.svg)](<%= :url %>/papers/<%= paper.sha %>)

Status badge code:

```
HTML: <a href="<%= :url %>/papers/<%= paper.sha %>"><img src="<%= :url %>/papers/<%= paper.sha %>/status.svg"></a>
Markdown: [![status](<%= :url %>/papers/<%= paper.sha %>/status.svg)](<%= :url %>/papers/<%= paper.sha %>)
```
**Reviewers and authors**:

Please avoid lengthy details of difficulties in the review thread. Instead, please create a new issue in the <a href="<%= paper.repository_url %>" target="_blank">target repository</a> and link to those issues (especially acceptance-blockers) in the review thread below. (For completists: if the target issue tracker is also on GitHub, linking the review thread in the issue or vice versa will create corresponding breadcrumb trails in the link target.)

## Reviewer questions

<%= reviewer %>, please carry out your review in this issue by updating the checklist below (please make sure you're logged in to GitHub). The reviewer guidelines are available here: <%= :url %>/about#reviewer_guidelines. Any questions/concerns please let <%= editor %> know.

<%= render partial: "content/github/review_checklist", locals: local_assigns %>
