<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="col-7">
    <div class="welcome">Editors in Chief Dashboard</div>
    <div class="hero-small dashboard">
      <div class="hero-title">
        <%= image_tag "icon_papers.svg", height: "32px" %><h1>Onboarding</h1>
      </div>
    </div>
  </div>
</div>

<%= render partial: "aeic_dashboard/menu" %>
<div class="container">

  <div class="generic-content-item">
    <h1>Invitations to join the editorial team</h1>

    <%= form_for(OnboardingInvitation.new, url: onboardings_path) do |f| %>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <%= f.label :email, "Invite new editor" %>
              <%= f.text_field :email, placeholder: "Email",class: "form-control" %>
            </div>
            <div class="col"></div>
          </div>
        </div>
    <% end %>

    <% if @onboardings.empty? %>
      There are <b>no onboarding invitations</b> to show
    <% else %>
      <h3>Editor invitations</h3>
      <table class="dashboard-table sortable">
        <thead>
          <tr class="text-nowrap">
            <th scope="col">Email</th>
            <th scope="col" class="sorttable_nosort">Token</th>
            <th scope="col">Sent</th>
            <th scope="col" colspan="2" class="sorttable_nosort">Actions</th>
          </tr>
        </thead>

        <tbody>
          <%- @onboardings.each do |onboarding_invitation| %>
          <tr>
            <td><%= onboarding_invitation.email %></td>
            <td><%= onboarding_invitation.token %></td>
            <td sorttable_customkey=<%= onboarding_invitation.last_sent_at %>><%= time_ago_in_words(onboarding_invitation.last_sent_at) %> ago</td>
            <td>
              <%= link_to("Delete", onboarding_path(onboarding_invitation), method: :delete, data: {confirm: "Are you sure you want to delete this invitation?" }) %>
            </td>
            <td>
              <%= link_to("Re-invite", resend_invitation_onboarding_path(onboarding_invitation), method: :post, data: {confirm: "This will re-send the invitation email" }) %>
            </td>
          </tr>
          <%- end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="generic-content-item">
    <h1>Pending editors</h1>
  </div>
</div>