<div class="about-page columns">
  <nav class="menu one-fourth column">
    <a class="menu-item selected" href="#about">About</a>
    <a class="menu-item" href="#author_guidelines">Author guidelines</a>
    <a class="menu-item" href="#reviewer_guidelines">Reviewer guidelines</a>
    <a class="menu-item" href="#editorial_board">Editorial board</a>
  </nav>

  <div class="three-fourths column">
    <div class="main" id="about">
      <h1>The Journal of Open Source Software</h1>

      <p class="lead">The Journal of Open Source Software (JOSS) is a <strong>developer friendly</strong> journal for research software packages.</p>

      <h3>What <em>exactly</em> do you mean by 'journal'</h3>

      <p>The Journal of Open Source Software (JOSS) is a legitimate academic journal. We have a rigorous peer review process and a first-class <%= link_to "editorial board", "#editorial_board" %>. Upon acceptance into JOSS, a CrossRef DOI is minted and we list your paper on the JOSS website.</p>

      <h3>Don't we have enough journals already?</h3>

      <p>Perhaps, and in a perfect world we'd rather papers about software weren't necessary but we recognize that for most researchers, papers and not software are the currency of academic research and that citations are required for a good career.</p>

      <p>We built this journal because we believe that after you've done the hard work of writing great software, it shouldn't take weeks and months to write a paper<sup>1</sup> about your work.</p>

      <h3>You said <em>developer friendly</em>, what do you mean?</h3>

      <p>We have a simple submission workflow and extensive documentation to help you prepare your submission. If your software is already well documented then paper preparation should take no more than an hour.</p>

      <p>1. After all, this is just <%= link_to "advertising", "http://statweb.stanford.edu/~wavelab/Wavelab_850/wavelab.pdf" %>.</p>
    </div>

    <div class="main" id="author_guidelines">
      <h1>Author guidelines</h1>

      <p class="lead">If you've already licensed your code and have good documentation then we expect that it should take <strong>less than an hour</strong> to prepare and submit your paper to JOSS.</p>

      <h2>What does a typical submission flow look like?</h2>

      <p>Before you submit we need you to:</p>
      <ul>
        <li>Author a short Markdown paper <code>paper.md</code> with a title, abstract, author names, affiliations, and key references. See an example <%= link_to "here", "https://github.com/arfon/fidgit/tree/master/paper", :target => "_blank"%></li>
        <li>Deposit a copy of your software repository with a data-archiving service such as <%= link_to "Zenodo", "https://zenodo.org/", :target => "_blank" %> or <%= link_to "figshare", "https://figshare.com/", :target => "_blank" %> and mint a DOI for the archive</li>
        <li>Make software available in an open repository (GitHub, Bitbucket etc.) and include an <a href="https://opensource.org/licenses">open source license</a></li>
        <li>Ideally we would also like you to create a metadata file and include it in your repository describing your software. <%= link_to "This script", "https://gist.github.com/arfon/478b2ed49e11f984d6fb", :target => "_blank" %> automates the generation of this metadata.</li>

      </ul>

      <p>Submission then is then as simple as:</p>

      <ul>
        <li>Filling in the short <%= link_to "submission form", new_paper_path %></li>
        <li>Waiting for reviewers to be assigned over in <%= link_to "https://github.com/arfon/joss-reviews", "https://github.com/arfon/joss-reviews", :target => "_blank" %></li>
      </ul>

      <br />

      <h2>What are your requirements for submission?</h2>

      <ul>
        <li>Your software should be open source</li>
        <li>Your software should have a research application</li>
        <li>You should be an author (and copyright holder) of the software you are submitting.</li>
      </ul>

      <br />

      <h2>What does a typical review process look like?</h2>

      <p>We encourage you to familiarize yourself with our <%= link_to "reviewer guidelines", "#reviewer_guidelines" %> as this will help you understand what our reviewers will be looking for. Broadly speaking though, provided you have followed our pre-submission steps and meet our submission requirements then you should expect a rapid review (typically less than two weeks).</p>

      <p>After submission:</p>
      <ul>
        <li>One or more JOSS reviewers are assigned and the review is carried out in the <%= link_to "JOSS reviews repository", "https://github.com/arfon/joss-reviews", :target => "_blank" %></li>
        <li>Upon (successful) completion of the review, your paper metadata is deposited in CrossRef and listed on the JOSS website.</li>
        <li>And that's it.</li>
      </ul>
    </div>

    <div class="main" id="reviewer_guidelines">
      <h1>Reviewer guidelines</h1>

      <p class="lead">Firstly, thank you so much for agreeing to review for the Journal of Open Source Software (JOSS), we're delighted to have your help. This document is designed to outline our editorial guidelines and help you understand our requirements for accepting a submission into the JOSS.</p>

      <h2>Some guiding principles for you the reviewer</h2>

      <p>We like to think of JOSS as a 'developer friendly' journal. That is, if the submitting authors have followed best practices (have documentation, tests, continuous integration, and a license) then their review should be extremely rapid.</p>
      <p>For those authors that don't quite meet the bar, please try to give clear feedback on how they could improve their submission. A key goal of JOSS is to raise the quality of research software generally and you (the experienced reviewer) are well placed to give this feedback.</p>

      <h2>The JOSS 'paper'</h2>

      <p>The JOSS 'paper' (the PDF associated with this submission) should only include:</p>

      <ul>
        <li>A short abstract describing the high-level functionality of the software</li>
        <li>A list of the authors of the software</li>
        <li>Author affiliations</li>
        <li>A list of key references including a link to the software archive</li>
      </ul>

      <p>Note the paper should <em>not</em> include software documentation such as API functionality, as this should be outlined in the software documentation.</p>

      <h2>Software license</h2>

      <p>There should be an <%= link_to "OSI approved", "https://opensource.org/licenses/alphabetical" %> license included in the repository. Common licenses such as those listed on <%= link_to "http://choosealicense.com", "http://choosealicense.com" %> are preferred. Note there should be an actual license file present in the repository not just a reference to the license.</p>

      <blockquote>
        <p>
          Acceptable: A plain-text LICENSE file with the contents of an OSI approved license<br />
          Not acceptable: A phrase such as 'MIT license' in a README file
        </p>
      </blockquote>

      <h2>Documentation</h2>

      <p>There should be sufficient documentation for you, the reviewer to understand the core functionality of the software under review. A high-level overview of this documentation should be included in a README file (or equivalent). There should be:</p>

      <h3>A statement of need</h3 >

      <p>The authors should clearly state what problems the software is designed to solve and who the target audience is.</p>

      <h3>Installation instructions</h3>

      <p>There should be a clearly-stated list of dependencies. Ideally these should be handled with an automated package management solution.</p>

      <blockquote>
        <p>
          Good: A package management file such as a <code>Gemfile</code> or <code>package.json</code> or equivalent<br />
          OK: A list of dependencies to install<br />
          Bad (not acceptable): Reliance on other software not listed by the authors
        </p>
      </blockquote>

      <h3>Example usage</h3>

      <p>The authors should include examples of how to use the software (ideally to solve real-world analysis problems).</p>

      <h3>API documentation</h3>

      <p>Reviewers should check that the software API is documented to a suitable level. This decision is left largely to the discretion of the reviewer and their experience of evaluating the software.</p>

      <blockquote>
        <p>
          Good: All functions/methods are documented including example inputs and outputs<br />
          OK: Core API functionality is documented<br />
          Bad (not acceptable): API is undocumented
        </p>
      </blockquote>

      <h3>Tests</h3>

      <p>Authors are strongly encouraged to include an automated test suite covering the core functionality of their software.</p>

      <blockquote>
        <p>
          Good: An automated test suite hooked up to an external service such as Travis-CI or similar<br />
          OK: Documented manual steps that can be followed to check the expected functionality of the software (e.g. a sample input file to assert behaviour)<br />
          Bad (not acceptable): No way for you the reviewer to check whether the software works
        </p>
      </blockquote>

      <h3>Community guidelines</h3>

      <p>There should be clear guidelines for third-parties wishing to:</p>

      <ul>
        <li>Contribute to the software</li>
        <li>Report issues or problems with the software</li>
        <li>Seek support</li>
      </ul>

      <h3>Examples</h3>

      <p>Include here some examples of well-documented software for people to review.</p>

      <h2>Functionality</h2>

      <p>Reviewers are expected to install the software they are reviewing and to verify the core functionality of the software.</p>

      <h2>Other considerations</h2>

      <h3>An important note about 'novel' software</h3>

      <p>Submissions that solve problems already solved but other software packages are accepted into JOSS provided that they meet the criteria listed above and cite prior similar work.</p>

      <h3>What happens if the software I'm reviewing doesn't meet the JOSS criteria?</h3>
      <p>We ask that reviewers grade submissions in one of three categories: 1) Accept 2) Minor Revisions 3) Major Revisions. Unlike some journals we do not reject outright submissions requiring major revisions - we're more than happy to give the author as long as they need to make these modifications/improvements.</p>
    </div>

    <div class="main" id="editorial_board">
      <h1>Editorial board</h1>

      <div class="editor">
        <%= image_tag "editors/dan.png", :class => "avatar left", :width => 100 %>
        <h3><a href="http://danielskatz.org/">Daniel S. Katz</a>, Editor: Computer Science</h3>
        <p>A computer and computational scientist at the <a href="http://illinois.edu">University of Illinois</a>’s <a href="http://www.ncsa.illinois.edu/">National Center for Supercomputing Applications</a> (NCSA), and a former eletromagneticist, with strong interest in common elements of how science is done by people using software and data.</p>
      </div>

      <div class="editor">
        <%= image_tag "editors/kevin.png", :class => "avatar left", :width => 100 %>
        <h3><a href="http://kevinmoerman.org/">Kevin M. Moerman</a>, Editor: Image-based bioengineering, and soft tissue biomechanics</h3>
        <p>Biomechanical and design engineer. Program manager for mechanical interfaces at <a href="http://www.media.mit.edu/">MIT Media lab</a> department of <a href="http://biomech.media.mit.edu/">Biomechatronics</a>. Developing computational methods for prosthetic device design. <a href="http://www.gibboncode.org/">GIBBON</a> code developer.</p>
      </div>

      <div class="editor">
        <%= image_tag "editors/kyle.jpg", :class => "avatar left", :width => 100 %>
        <h3><a href="http://kyleniemeyer.com">Kyle Niemeyer</a>, Editor: Computational Combustion and Fluid Dynamics</h3>
        <p>Mechanical engineer in the <a href="http://mime.oregonstate.edu/">School of Mechanical, Industrial, and Manufacturing Engineering</a> at <a href="http://oregonstate.edu/">Oregon State University</a>. Computational researcher in combustion, fluid dynamics, and chemical kinetics, with an interest in numerical methods and GPU computing strategies.</p>
      </div>

      <div class="editor">
        <%= image_tag "editors/karthik.png", :class => "avatar left", :width => 100 %>
        <h3><a href="http://karthik.io/">Karthik Ram</a>, Editor: Biodiversity Informatics and Data Science</h3>
        <p>A quantitative ecologist and data scientist at <a href="http://bids.berkeley.edu/">UC Berkeley' Institute for Data Science</a>, his research focuses on food web dynamics, open science, open data, and reproducible research.</p>
      </div>

      <div class="editor">
        <%= image_tag "editors/arfon.jpg", :class => "avatar left", :width => 100 %>
        <h3><a href="http://arfon.org">Arfon Smith</a>, Editor in Chief</h3>
        <p>A lapsed academic with a passion for new models of scientific collaboration, he's used big telescopes to study <%= link_to "dust in space", "http://www.arfon.org/thesis", :target => "_blank" %>, built sequencing pipelines in <%= link_to "Cambridge", "http://www.sanger.ac.uk/", :target => "_blank" %> and engaged millions of people in online citizen science by co-founding the <%= link_to "Zooniverse", "http://www.zooniverse.org", :target => "_blank" %>.</p>
      </div>

      <div class="editor">
        <%= image_tag "editors/tracy.jpg", :class => "avatar left", :width => 100 %>
        <h3><a href="http://idyll.org/~tracyt/">Tracy Teal</a>, Editor: Bioinformatics</h3>
        <p>Executive Director of Data Carpentry and Adjunct Professor in the BEACON Center for the Study of Evolution in Action at Michigan State University. Her research background in is microbial metagenomics and bioinformatics, and she has been a developer and contributor to several open source bioinformatics projects. She also focuses on best practices in data analysis software development.</p>
      </div>

      <div class="editor">
        <%= image_tag "editors/jake.jpg", :class => "avatar left", :width => 100 %>
        <h3><a href="http://vanderplas.com">Jake Vanderplas</a>, Editor: Astronomy and Machine Learning</h3>
        <p>Astronomer exploring the role of data science in academia at <a href="http://escience.washington.edu/">University of Washington's eScience Institute</a>. Core contributor to <a href="http://scikit-learn.org/">scikit-learn</a> and other science-focused Python packages.</p>
      </div>
    </div>
  </div>
</div>
