<div class="container">
  <div class="row">
    <div class="col">
      <div class="hero-small">
        <div class="text-center m-auto">
          <h1>About the <%= Rails.application.settings['name'] %></h1>
          <p class="lead">The <%= Rails.application.settings['name'] %> is <%= setting(:tagline).html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-lg-9" data-spy="scroll" data-target="#subnav" data-offset="0">
      <div id="about" class="generic-content-item">

        <%= render partial: "content/about/general" %>

        <div class="alert alert-primary" role="alert">
          <%= link_to "🎉 Volunteer to review for #{setting(:abbreviation)} &xrarr;".html_safe, "/reviewer-signup.html" %>
        </div>
      </div>

      <div id="submitting" class="generic-content-item">

        <h1>Scope & submission requirements</h1>
        <p>
          We consider submissions from all areas of academia, although our computational focus
          may result in more natural submissions from STEM fields&mdash;but all are welcome!
        </p>

        <p>
          Submissions must be "feature complete" to the extent that another educator could adopt,
          reuse, and/or extend for their purposes.
        </p>

        <p>
          The ideal submission size is a course <em>module</em>, although entire courses are also acceptable.
        </p>


        <p>JOSE submissions must:</p>

        <ul>
          <li>JOSE submissions must be fully open, under the <%= link_to "Open Definition", "http://opendefinition.org/" %>. This means that any text content or graphical objects should be under a Creative Commons license (ideally CC-BY) and code components should be under an <%= link_to "OSI-approved license", "https://opensource.org/licenses" %>.</li>
          <li>Computational learning modules should be complete and immediately usable for self-learning or adoption by other instructors. They should make a clear contribution to teaching and learning of any subject, supported by computing. JOSE is not focused in OER for "learning to code" as much as "coding to learn."</li>
          <li>Software submissions should make a clear contribution to the available open-source software that supports teaching and learning, or makes an educational process better (e.g., faster, easier, simpler). Examples include software to auto-grade student work, learning management systems, and student collaboration frameworks. Software should be feature-complete (no half-baked solutions).</li>
        </ul>
        
        <p>Authors wishing to make a pre-submission enquiry should <%= link_to "open an issue", "https://github.com/#{Rails.application.settings["github"]}/issues/new?title=Pre-submission%20enquiry"%> on the <%= setting(:abbreviation) %> repository.</p>
        <div class="alert alert-primary" role="alert">
          <%= link_to "👀Full details about the #{setting(:abbreviation)} submission requirements and submission process&xrarr;".html_safe, "https://openjournals.readthedocs.io/en/jose/submitting.html" %>
        </div>
      </div>

      <div class="generic-content-item" id="editorial_board">
        <h1>Editorial Board</h1>

        <%- Editor.board.order('last_name ASC').each do |editor| %>
        <%= render partial: "shared/editor", locals: { editor: editor } %>
        <%- end %>

        <h2 id="topic_editors">Topic Editors</h2>

        <%- Editor.topic.order('last_name ASC').each do |editor| %>
        <%= render partial: "shared/editor", locals: { editor: editor } %>
        <%- end %>

        <h2 id="editors_emeritus">Editors Emeritus</h2>

        <%- Editor.emeritus.order('last_name ASC').each do |editor| %>
        <%= render partial: "shared/editor", locals: { editor: editor } %>
        <%- end %>
      </div>

      <div class="generic-content-item" id="contact">
        <h1>Contact <%= setting(:abbreviation) %></h1>

        <p>
          To suggest a feature, report a bug, or enquire about a possible submission in <%= setting(:abbreviation) %>, please <a href="https://github.com/<%= setting(:github) %>/issues/new">open a GitHub Issue</a>.
        </p>
      </div>

      <div class="generic-content-item" id="code_of_conduct">
        <h1>Code of Conduct</h1>

        <p>Although spaces may feel informal at times, we want to remind authors and reviewers (and anyone else) that
          this is a professional space. As such, the <%= setting(:abbreviation) %> community adheres to a code of
          conduct adapted from the
          <%= link_to "Contributor Covenant", "http://contributor-covenant.org", target: "_blank" %> code of conduct.
        </p>

        <p>Authors and reviewers will be required to confirm they have read our
          <%= link_to "code of conduct", "https://github.com/#{ setting(:github) }/blob/master/CODE_OF_CONDUCT.md", target: "_blank" %>,
          and are expected to adhere to it in all <%= setting(:abbreviation) %> spaces and associated interactions.</p>
      </div>

      <div class="generic-content-item" id="ethics">
        <h1>Ethics Guidelines</h1>
        <p>We also want to remind authors and reviewers (and anyone else) that we expect and require ethical behavior. Some examples are:
          <ul>
            <li>All authors are obliged to provide retractions or corrections of any mistakes of which they become aware.</li>
            <li>Plagiarism (e.g., violation of another author's copyright), for both software and papers, is not allowed.</li>
            <li>Self-plagiarism (repeated publication of the same work) is not allowed.</li>
            <li>Author lists must be correct and complete. All listed authors must have made a contribution to the work, and all significant contributors should be included in the author list.</li>
            <li>Reviews should be accurate and non-fraudulent. Examples of concerns are: Authors should not suggest reviewers who are not real people or have conflicts. Reviewers and editors must disclose conflicts. Bribes for authors, reviewers, editors are not permitted.</li>
          </ul>
        </p>

        <p>Any potentially unethical behavior should be brought to the attention of the <%= setting(:abbreviation) %> staff. See <a href="#contact">Contacting <%= setting(:abbreviation) %></a>.</p>

        <p>The <%= setting(:abbreviation) %> Editors will track any concerns and respond to the submitter with a resolution, which will range from doing nothing if the editors disagree about the issue to withdrawing papers and notifying authors' institutions.
        </p>

        <h2 id="ethics-and-malpractice"><%= setting(:abbreviation) %> Publication Ethics and Malpractice Statement</h2>
        <b>Editorial Board</b>
        <ul>
          <li>The <%= setting(:abbreviation) %> editorial board's members are recognized experts in the field. The full names and affiliations of the members are provided on the journal’s website (see <a href="<%= setting(:url) %>/about#editorial_board">editorial board</a>). The individual editors' contact information are provided on that site, via their GitHub pages, and general contact information for the editorial office also on the <a href="<%= setting(:url) %>/about#contact">journal’s website</a>.</li>
        </ul>

        <b>Authors and Authors responsibilities</b>
        <ul>
          <li><%= setting(:abbreviation) %> does not charge any fees for manuscript processing and/or publishing materials, as is stated on the <a href="<%= setting(:url) %>/about#costs">journal's website</a>.</li>

          <li>Authors are obliged to participate in peer review process, as described in <a href="https://joss.readthedocs.io/en/latest/submitting.html#the-review-process">submission guidelines</a>.</li>

          <li>All authors have significantly contributed to the research. The submitting author is required to be a <a href="https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements">major contributor to the software</a> they are submitting and the review process includes a check that <em><a href="https://joss.readthedocs.io/en/latest/review_criteria.html#authorship">‘the full list of paper authors seems appropriate and complete?’</a></em>.</li>

          <li>All authors are obliged to provide retractions or corrections of mistakes (see <a href="<%= setting(:url) %>/about#ethics">ethics</a> and <a href="https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain">what should my paper contain?</a>).</li>

          <li><%= setting(:abbreviation) %> papers are required to have a <a href="https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain">list of references</a>, and <a href="https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain">financial support</a>.</li>

          <li>Forbidden to publish same research in more than one journal (see <a href="<%= setting(:url) %>/about#ethics">ethics</a>).</li>
        </ul>

        <b>Peer-review process</b>
        <ul>
          <li>All of <%= setting(:abbreviation) %>'s content is subjected to peer-review (see <a href="http://joss.theoj.org/about">about</a> and <a href="https://joss.readthedocs.io/en/latest/index.html">docs</a>).</li>

          <li><%= setting(:abbreviation) %> peer-review is defined as obtaining advice on individual manuscripts from reviewers <a href="https://joss.readthedocs.io/en/latest/editing.html#finding-reviewers">expert in the field</a>. This advice is public, and is given to both the editor(s) and the author(s), with the aim of pointing out issues the reviewers believe are <a href="https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#guiding-principles">insufficiently addressed for publication</a>.</li>

          <li>The <%= setting(:abbreviation) %> review process is clearly described on the <a href="https://joss.readthedocs.io/en/latest/reviewer_guidelines.html">journal’s website</a>.</li>

          <li>Judgments should be <a href="https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#guiding-principles">objective</a>.</li>

          <li><%= setting(:abbreviation) %> reviewers should ideally have no conflict of interest. In practice, this is not always possible. If a reviewer has a conflict of interest, it must be declared and recorded, and the editors may <a href="https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy">choose to waive</a> it if this is in the best interest of the review process.</li>

          <li>Reviewers should point out <a href="https://joss.readthedocs.io/en/latest/review_criteria.html#an-important-note-about-novel-software-and-citations-of-relevant-work">relevant published work</a> which is not yet cited.</li>

          <li><%= setting(:abbreviation) %> reviews are public and non-anonymous while in progress and post-review, as they take place via GitHub issues in a public repository.</li>
        </ul>

        <b>Publication ethics</b>
        <ul>
          <li>All authors are obliged to provide retractions or corrections of any mistakes of which they become aware.</li>
          <li>Plagiarism (e.g., violation of another author's copyright), for both software and papers, is not allowed.</li>
          <li>Self-plagiarism (repeated publication of the same work) is not allowed.</li>
          <li>Author lists must be correct and complete. All listed authors must have made a contribution to the work, and all significant contributors should be included in the author list.</li>
          <li>Reviews should be accurate and non-fraudulent. Examples of concerns are: Authors should not suggest reviewers who are not real people or have conflicts. Reviewers and editors must disclose conflicts. Bribes for authors, reviewers, editors are not permitted.</li>
        </ul>

        <b>Copyright and Access</b>
        <ul>
          <li><%= setting(:abbreviation) %> copyright and licensing information is clearly described on the <a href="<%= setting(:url) %>/about#content_license">journal’s website</a>.</li>
          <li>The journal and all individual articles are freely available to all readers.</li>
        </ul>

        <b>Archiving</b>
        <ul>
          <li><%= setting(:abbreviation) %> articles, metadata, and reviews are archived with <a href="https://www.portico.org/">Portico</a>.</li>
        </ul>

        <b>Ownership and management</b>
        <ul>
          <li>Information about the ownership and/or management of a journal is clearly indicated on the journal’s website (see <a href="http://www.theoj.org">http://www.theoj.org</a>).</li>
          <li>JOSE and the <a href="http://www.theoj.org">Open Journals</a> do not use organizational names that would mislead potential authors and editors about the nature of the journal’s owner.</li>
        </ul>

        <b>Website</b>
        <ul>
          <li>
            The JOSE website (see <a href="<%= setting(:url) %>"><%= setting(:url) %></a> and <a href="<%= setting(:url) %>/about"><%= setting(:url) %>/about</a>), including the text that it contains, demonstrates that care has been taken to ensure high ethical and professional standards.
          </li>
        </ul>

        <b>Publishing schedule</b>
        <ul>
          <li><%= setting(:abbreviation) %> immediately publishes accepted articles; it is not a serial publication.</li>
        </ul>

        <b>Name of journal</b>
        <ul>
          <li>
            As far as we know, the journal name (<%= setting(:name) %> (<%= setting(:abbreviation) %>)) is unique and not one that is easily confused with another journal or that might mislead potential authors and readers about the journal’s origin or association with other journals.
          </li>
        </ul>
      </div>

      <div class="generic-content-item" id="costs">
        <h1>Cost and Sustainability Model</h1>
        <p><%= setting(:name) %> is an open access journal <em>committed to running at minimal costs, with zero publication fees (<a href="https://en.wikipedia.org/wiki/Article_processing_charge">article processing charges</a>) or subscription fees</em>.</p>

        <p>Under the NumFOCUS nonprofit umbrella, <%= setting(:abbreviation) %> is now eligible to seek grants for sustaining its future. With an entirely volunteer team, <%= setting(:abbreviation) %> is seeking to sustain its operations via <%= link_to 'donations', "https://numfocus.org/donate-to-jose", target: "_blank" %> and grants, keeping its low cost of operation and free service for authors.</p>

        <p>In the spirit of transparency, below is an outline of our current running costs:</p>

        <ul>
          <li>Annual Crossref <a href="http://www.crossref.org/02publishers/20pub_fees.html">membership</a>: $275 / year
          </li>
          <li>Annual Portico <a href="https://www.portico.org/join/how-publishers-can-join/">membership</a>: $250 / year
          </li>
          <li><%= setting(:abbreviation) %> paper DOIs: $1 / accepted paper</li>
          <li><%= setting(:abbreviation) %> website hosting (Heroku): $19 / month</li>
        </ul>

        <p>Assuming a publication rate of 200 papers per year this works out at ~$4.75 per paper ((19*12) + 200 + 275 + 250) / 200.</p>

        <p>A more detailed analysis of our running costs is available <a href="http://blog.joss.theoj.org/2019/06/cost-models-for-running-an-online-open-journal" target="_blank">on our blog</a>.</p>
      </div>

      <div class="generic-content-item" id="content_license">
        <h1>Content Licensing & Open Access</h1>
        <p>
          <%= setting(:abbreviation) %> is a <a href="https://en.wikipedia.org/wiki/Open_access#Diamond/platinum_OA" target="_blank">diamond/platinum open access</a> journal. Copyright of <%= setting(:abbreviation) %> papers is
          retained by submitting authors and accepted papers are subject to a <a rel="license"
            href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International
            License</a>.</p>
        <p>Any code snippets included in <%= setting(:abbreviation) %> papers are subject to the <a
            href="https://opensource.org/licenses/MIT" target="_blank">MIT license</a> regardless of the license of the
          submitted software package under review.</p>
      </div>
    </div>
  <div class="col-lg-3 about-nav">
    <div class="sub-nav">
      <nav class="menu" id="subnav">
        <a class="menu-item selected" href="#about">About</a>
        <a class="menu-item" href="#submitting">Submission scope</a>
        <a class="menu-item" href="#editorial_board">Editorial Board</a>
        <a class="menu-item" href="#topic_editors">Topic Editors</a>
        <a class="menu-item" href="#editors_emeritus">Editors Emeritus</a>
        <a class="menu-item" href="#contact">Contact <%= setting(:abbreviation) %></a>
        <a class="menu-item" href="#code_of_conduct">Code of Conduct</a>
        <a class="menu-item" href="#ethics">Ethics Guidelines</a>
        <a class="menu-item" href="#costs">Cost and Sustainability Model</a>
        <a class="menu-item" href="#content_license">Content Licensing &amp; Open Access</a>
      </nav>

      <a class="menu-btn" href="https://openjournals.readthedocs.io/en/jose/submitting.html">Author information</a>
      <%= link_to "🎉 Volunteer to review".html_safe, "/reviewer-signup.html", class: "menu-btn" %>
      <a class="menu-btn" href="https://openjournals.readthedocs.io/en/jose/reviewer_guidelines.html">Reviewer guidelines</a>
      <%= link_to "✨ Donate to #{setting(:abbreviation)}&nbsp;&nbsp;✨".html_safe, "https://numfocus.org/donate-to-jose", class: "menu-btn", target: "_blank" %>
      </div>
    </div>
  </div>
</div>
