<div class="container">
  <div class="row">
    <div class="col">
      <div class="hero-small">
        <div class="text-center m-auto">
          <h1>About the <%= Rails.application.settings['name'] %></h1>
          <p class="lead">The <%= Rails.application.settings['name'] %> is <%= setting(:tagline).html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-lg-9" data-spy="scroll" data-target="#subnav" data-offset="0">
      <div id="about" class="generic-content-item">

        <%= render partial: "content/about/general" %>

        <div class="alert alert-primary" role="alert">
          <%= link_to "🎉 Volunteer to review for #{setting(:abbreviation)} &xrarr;".html_safe, "/reviewer-signup.html" %>
        </div>
      </div>

      <div class="generic-content-item" id="editorial_board">
        <h1>Editorial Board</h1>

        <%- Editor.board.order('last_name ASC').each do |editor| %>
        <%= render partial: "shared/editor", locals: { editor: editor } %>
        <%- end %>

        <h2 id="topic_editors">Topic Editors</h2>

        <%- Editor.topic.order('last_name ASC').each do |editor| %>
        <%= render partial: "shared/editor", locals: { editor: editor } %>
        <%- end %>

        <h2 id="editors_emeritus">Editors Emeritus</h2>

        <%- Editor.emeritus.order('last_name ASC').each do |editor| %>
        <%= render partial: "shared/editor", locals: { editor: editor } %>
        <%- end %>
      </div>

      <div class="generic-content-item" id="contact">
        <h1>Contact <%= setting(:abbreviation) %></h1>

        <p>
        <ul>
          <li>To suggest a feature or report a bug in <%= setting(:abbreviation) %>, please <a href="https://github.com/<%= setting(:github) %>/issues/new">open a GitHub Issue</a></li>
          <li>To contact the <%= setting(:abbreviation) %> staff, please <a href="mailto:admin@theoj.org">email us</a></li>
        </ul>
        </p>
      </div>

      <div class="generic-content-item" id="code_of_conduct">
        <h1>Code of Conduct</h1>

        <p>Although spaces may feel informal at times, we want to remind authors and reviewers (and anyone else) that
          this is a professional space. As such, the <%= setting(:abbreviation) %> community adheres to a code of
          conduct adapted from the
          <%= link_to "Contributor Covenant", "http://contributor-covenant.org", :target => "_blank" %> code of conduct.
        </p>

        <p>Authors and reviewers will be required to confirm they have read our
          <%= link_to "code of conduct", "https://github.com/#{ setting(:github) }/blob/master/CODE_OF_CONDUCT.md", :target => "_blank" %>,
          and are expected to adhere to it in all <%= setting(:abbreviation) %> spaces and associated interactions.</p>
      </div>

      <div class="generic-content-item" id="ethics">
        <h1>Ethics Guidelines</h1>
        <p>We also want to remind authors and reviewers (and anyone else) that we expect and require ethical behavior. Some examples are:
          <ul>
            <li>All authors are obliged to provide retractions or corrections of any mistakes of which they become aware.</li>
            <li>Plagiarism (e.g., violation of another author's copyright), for both software and papers, is not allowed.</li>
            <li>Self-plagiarism (repeated publication of the same work) is not allowed.</li>
            <li>Author lists must be correct and complete. All listed authors must have made a contribution to the work, and all significant contributors should be included in the author list.</li>
            <li>Reviews should be accurate and non-fraudulent. Examples of concerns are: Authors should not suggest reviewers who are not real people or have conflicts. Reviewers and editors must disclose conflicts. Bribes for authors, reviewers, editors are not permitted.</li>
          </ul>
        </p>

        <p>Any potentially unethical behavior should be brought to the attention of the <%= setting(:abbreviation) %> staff. See <a href="#contact">Contacting <%= setting(:abbreviation) %></a>.</p>

        <p>The <%= setting(:abbreviation) %> Editors will track any concerns and respond to the submitter with a resolution, which will range from doing nothing if the editors disagree about the issue to withdrawing papers and notifying authors' institutions.
        </p>
      </div>

      <div class="generic-content-item" id="costs">
        <h1>Cost and Sustainability Model</h1>
        <p><%= setting(:name) %> is an open access journal <em>committed to running at minimal costs, with zero publication fees (<a href="https://en.wikipedia.org/wiki/Article_processing_charge">article processing charges</a>) or subscription fees</em>.</p>

        <p>Under the NumFOCUS nonprofit umbrella, <%= setting(:abbreviation) %> is now eligible to seek grants for sustaining its future. With an entirely volunteer team, <%= setting(:abbreviation) %> is seeking to sustain its operations via donations and grants, keeping its low cost of operation and free service for authors.</p>

        <p>In the spirit of transparency, below is an outline of our current running costs:</p>

        <ul>
          <li>Annual Crossref <a href="http://www.crossref.org/02publishers/20pub_fees.html">membership</a>: $275 / year
          </li>
          <li><%= setting(:abbreviation) %> paper DOIs: $1 / accepted paper</li>
          <li><%= setting(:abbreviation) %> website hosting (Heroku): $19 / month</li>
        </ul>

        <p>Assuming a publication rate of 200 papers per year this works out at ~$3.50 per paper ((19*12) + 200 + 275) / 200.</p>

        <p>A more detailed analysis of our running costs is available <a href="http://blog.joss.theoj.org/2019/06/cost-models-for-running-an-online-open-journal" target="_blank">on our blog</a>.</p>
      </div>

      <div class="generic-content-item" id="content_license">
        <h1>Content Licensing & Open Access</h1>
        <p>
          <%= setting(:abbreviation) %> is an open access journal. Copyright of <%= setting(:abbreviation) %> papers is
          retained by submitting authors and accepted papers are subject to a <a rel="license"
            href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International
            License</a>.</p>
        <p>Any code snippets included in <%= setting(:abbreviation) %> papers are subject to the <a
            href="https://opensource.org/licenses/MIT" target="_blank">MIT license</a> regardless of the license of the
          submitted software package under review.</p>
        <p>Any use of the JOSS logo is licensed CC BY 4.0. See the <code><a href="https://github.com/openjournals/digital-assets/tree/master/joss/logo" target="_blank">joss/logo</a></code> directory in the <a href="https://github.com/openjournals/digital-assets" target="_blank">digital-assets</a> repository for more information about it.</p>
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>.
      </div>
    </div>
  <div class="col-lg-3 about-nav">
    <div class="sub-nav">
      <nav class="menu" id="subnav">
        <a class="menu-item selected" href="#about">About</a>
        <a class="menu-item" href="#editorial_board">Editorial Board</a>
        <a class="menu-item" href="#topic_editors">Topic Editors</a>
        <a class="menu-item" href="#editors_emeritus">Editors Emeritus</a>
        <a class="menu-item" href="#contact">Contact <%= setting(:abbreviation) %></a>
        <a class="menu-item" href="#code_of_conduct">Code of Conduct</a>
        <a class="menu-item" href="#ethics">Ethics Guidelines</a>
        <a class="menu-item" href="#costs">Cost and Sustainability Model</a>
        <a class="menu-item" href="#content_license">Content Licensing &amp; Open Access</a>
      </nav>

      <a class="menu-btn" href="https://joss.readthedocs.io/en/latest/submitting.html">Author information</a>
      <%= link_to "🎉 Volunteer to review".html_safe, "/reviewer-signup.html", class: "menu-btn" %>
      <a class="menu-btn" href="https://joss.readthedocs.io/en/latest/reviewer_guidelines.html">Reviewer guidelines</a>
      </div>
    </div>
  </div>
</div>
