<div class="container">
  <div class="row">
    <div class="col">
      <div class="hero-small">
        <div class="text-center m-auto">
          <h1>About <%= Rails.application.settings['name'] %></h1>
          <p class="lead"> <%= Rails.application.settings['name'] %> is <%= setting(:tagline).html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-lg-9" data-spy="scroll" data-target="#subnav" data-offset="0">
      <div id="about" class="generic-content-item">

        <%= render partial: "content/about/general" %>

        <div class="alert alert-primary" role="alert">
          <%= link_to "🎉 Volunteer to review for #{setting(:abbreviation)} &xrarr;".html_safe, "/reviewer-signup.html" %>
        </div>
      </div>

      <div id="submitting" class="generic-content-item">

        <h1>Scope & submission requirements</h1>

        <p>Not all Jupyter notebooks are eligible to be published in NeuroLibre.</p>

        <p>NeuroLibre submissions must:</p>

        <ul>
          <li>Be open source (i.e., have an <%= link_to "OSI-approved license", "https://opensource.org/licenses/category", :target => "_blank" %>).</li>
        </ul>

        <p>
        Authors wishing to make a pre-submission enquiry should <%= link_to "open an issue", "https://github.com/#{Rails.application.settings["github"]}/issues/new?title=Pre-submission%20enquiry"%> on the <%= setting(:abbreviation) %> repository.
        </p>
      </div>

      <div class="generic-content-item" id="costs">
        <h1>Cost and Sustainability Model</h1>
        <p><%= setting(:name) %> is an open-access publishing platform <em>committed to running at minimal costs, with zero publication fees (<a href="https://en.wikipedia.org/wiki/Article_processing_charge">article processing charges</a>) or subscription fees</em>.</p>
      </div>

      <div class="generic-content-item" id="content_license">
        <h1>Content Licensing & Open Access</h1>
        <p>
          Copyright of <%= setting(:abbreviation) %> papers is
          retained by submitting authors and accepted papers are subject to a
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
          Creative Commons Attribution 4.0 International License</a>.
        </p>
      </div>
    </div>
  <div class="col-lg-3 about-nav">
    <div class="sub-nav">
      <nav class="menu" id="subnav">
        <a class="menu-item selected" href="#about">About</a>
        <a class="menu-item" href="#submitting">Submission scope</a>
        <a class="menu-item" href="#costs">Cost and Sustainability Model</a>
        <a class="menu-item" href="#content_license">Content Licensing &amp; Open Access</a>
      </nav>

      <a class="menu-btn" href="">Author information</a>
      <%= link_to "🎉 Volunteer to review".html_safe, "/reviewer-signup.html", class: "menu-btn" %>
      <a class="menu-btn" href="">Reviewer guidelines</a>
      </div>
    </div>
  </div>
</div>
