<div class="wrapper">
  <div class="about-page columns">
    <nav class="menu one-fourth column">
      <a class="menu-item selected" href="#about">About</a>
      <a class="menu-item" href="#code_of_conduct">Code of Conduct</a>
      <a class="menu-item" href="#osi">Open Source Initiative</a>
      <a class="menu-item" href="#numfocus">NumFOCUS</a>
      <a class="menu-item" href="#author_guidelines">Author Guidelines</a>
      <a class="menu-item" href="#reviewer_guidelines">Reviewer Guidelines</a>
      <a class="menu-item" href="#editorial_board">Editorial Board</a>
      <a class="menu-item" href="#costs">Cost and Sustainability Model</a>
      <a class="menu-item" href="#content_license">Content Licensing</a>
    </nav>

    <div class="three-fourths column">
      <div class="main" id="about">
        <h1><%= setting(:name) %></h1>
        <p class="lead"><%= name_and_tagline %></p>

        <%= render partial: "content/about/general" %>

        <div class="flash flash-warn flash-with-icon">
          <span class="octicon octicon-link-external"></span>
          <%= link_to "Volunteer to review for #{setting(:abbreviation)} &raquo;".html_safe, "/reviewer-signup.html" %>
        </div>

      </div>
      <div class="main" id="code_of_conduct">
        <h1>Code of Conduct</h1>

        <p>Although spaces may feel informal at times, we want to remind authors and reviewers (and anyone else) that this is a professional space. As such, the <%= setting(:abbreviation) %> community adheres to a code of conduct adapted from the <%= link_to "Contributor Covenant", "http://contributor-covenant.org", :target => "_blank" %> code of conduct.</p>

        <p>Authors and reviewers will be required to confirm they have read our <%= link_to "code of conduct", "https://github.com/#{ setting(:github) }/blob/master/CODE_OF_CONDUCT.md", :target => "_blank" %>, and are expected to adhere to it in all <%= setting(:abbreviation) %> spaces and associated interactions.</p>
      </div>

      <%= render partial: "content/about/partnerships" %>

      <div class="main" id="author_guidelines">
        <h1>Author Guidelines</h1>

        <div class="flash flash-warn flash-with-icon">
          <span class="octicon octicon-link-external"></span>
          NEW: Our documentation has moved to a <a href="https://joss.readthedocs.io/en/latest/submitting.html">dedicated documentation site &raquo;</a>. Improved guidelines for authors are available there.
        </div>
      </div>

      <div class="main" id="reviewer_guidelines">
        <h1>Reviewer Guidelines</h1>
        <div class="flash flash-warn flash-with-icon">
          <span class="octicon octicon-link-external"></span>
          NEW: Our documentation has moved to a <a href="https://joss.readthedocs.io/en/latest/reviewer_guidelines.html">dedicated documentation site &raquo;</a>. Improved guidelines for reviewers are available there.
        </div>
      </div>

      <div class="main" id="editorial_board">
        <h1>Editorial Board</h1>

        <%- Editor.board.each do |editor| %>
          <%= render partial: "shared/editor", locals: { editor: editor } %>
        <%- end %>

        <h2 style="padding-top: 10px;">Topic Editors</h2>

        <%- Editor.topic.order('last_name ASC').each do |editor| %>
          <%= render partial: "shared/editor", locals: { editor: editor } %>
        <%- end %>

        <div class="main" id="costs">
          <h1>Cost and Sustainability Model</h1>
          <p><%= setting(:name) %> is an open access journal <em>committed to running at minimal costs, with zero publication fees (<a href="https://en.wikipedia.org/wiki/Article_processing_charge">article processing charges</a>) or subscription fees</em>.</p>
          <p>Under the NumFOCUS nonprofit umbrella, <%= setting(:abbreviation) %> is now eligible to seek grants for sustaining its future. With an entirely volunteer team, <%= setting(:abbreviation) %> is seeking to sustain its operations via donations and grants, keeping its low cost of operation and free service for authors.</p>

          <p>In the spirit of transparency, below is an outline of our current running costs:</p>

          <ul>
            <li>Annual Crossref <a href="http://www.crossref.org/02publishers/20pub_fees.html">membership</a>: $275 / year</li>
            <li><%= setting(:abbreviation) %> paper DOIs: $1 / accepted paper</li>
            <li><%= setting(:abbreviation) %> website hosting (Heroku): $19 / month</li>
          </ul>

          <p>Assuming a publication rate of 200 papers per year this works out at ~$3.50 per paper ((19*12) + 200 + 275) / 200 .</p>
        </div>

        <div class="main" id="content_license">
          <h1>Content Licensing</h1>
          <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a> Copyright of <%= setting(:abbreviation) %> papers is retained by submitting authors and accepted papers are subject to a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
          <p>Any code snippets included in <%= setting(:abbreviation) %> papers are subject to the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT license</a> regardless of the license of the submitted software package under review.</p>
          <p>Any use of the JOSS logo is licensed CC BY 4.0.</p>
        </div>
      </div>
    </div>
  </div>
</div>
