
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="container-fluid" style="padding-left:0;padding-right:0;">

  <div id="particle-container" style="max-height:50%;">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
  </div>

  <div class="hero" style="margin-top:-40px;">
        <div class="hero-content col-lg-5" >
          <h1 style="color:aliceblue;"> <%= Rails.application.settings['name'] %> is <%= setting(:tagline).html_safe %></h1>
          <br>
          <p class="lead" style="color:blanchedalmond;">Committed to publishing curated Jupyter notebooks with zero article processing charges or
            subscription fees.</p>
          <br><br>
          <button class="continue-application" id="large-screen-submit-button">
          <div>
              <div class="pencil"></div>
              <div class="folder">
                  <div class="top">
                      <svg viewBox="0 0 24 27">
                          <path d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"></path>
                      </svg>
                  </div>
                  <div class="paper"></div>
              </div>
          </div>
            <%= link_to "Submit a preprint to #{Rails.application.settings['abbreviation']}".html_safe, new_paper_path, class: "lead"%>
          </button>


        </div>

        <div class="hero-nav col-lg-3 offset-lg-4 align-self-end">
          <%= link_to papers_path do %>
          <%= image_tag 'icon_papers.svg' %>
          Explore Preprints
          <% end %>
          <%= link_to "https://docs.neurolibre.com/en/latest/" do %>
          <%= image_tag 'icon_docs.svg' %>
          Documentation
          <% end %>
          <%= link_to about_path do %>
          <%= image_tag 'icon_info.svg' %>
          Learn More
          <% end %>
        </div>
  </div>

  <div style= "padding-bottom:5px;padding-top:5px;" id="small-button">
    <center><button class="continue-application" >
    <div>
        <div class="pencil"></div>
        <div class="folder">
            <div class="top">
                <svg viewBox="0 0 24 27">
                    <path d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"></path>
                </svg>
            </div>
            <div class="paper"></div>
        </div>
    </div>
      <%= link_to "Submit a preprint to #{Rails.application.settings['abbreviation']}".html_safe, new_paper_path, class: "lead"%>
    </button></center>
  </div>

</div>


<div class="container" style="padding-left:0;padding-right:0;">

  <div class="paper-list" id="all-papers">
  <%= render partial: "papers/list", locals: { papers: Paper.public_in_progress}  %>
  </div>

</div>