<div style="border-bottom: 1px solid #a8a8a8;border-top: 1px solid #bdbdbd; background: #efefef;">
  <div class="wrapper">
    <div class="columns homepage">
      <div class="hero">
        <h1>The Journal of Open Source Software</h1>

        <p class="lead">A <strong>developer friendly</strong> journal for research software packages.</p>

        <a href="/about" class="btn btn-reverse">
          Learn more &raquo;
        </a>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="filter-menu">
    <div class="tabnav">
      <nav class="tabnav-tabs">
        <!-- <a href="#" class="tabnav-tab" data-target="recent-papers">Recent papers (<%= Paper.recent.visible.count %>)</a>
        <a href="#" class="tabnav-tab" data-target="popular-papers">Popular papers (<%= Paper.visible.count %>)</a>
        <a href="#" class="tabnav-tab" data-target="submitted-papers">Submitted papers (<%= Paper.in_progress.count %>)</a> -->
        <a href="#" class="tabnav-tab selected" data-target="all-papers">All papers (<%= Paper.everything.count %>)</a>
      </nav>
    </div>
  </div>

  <!-- <div class="paper-list hidden" id="recent-papers">
    <%= render :partial => "papers/list", :locals => { :papers => @recent_papers } %>

    <p class="centered">
      <%= link_to "View all recent papers &raquo;".html_safe, recent_papers_path %>
    </p>
  </div>

  <div class="paper-list hidden" id="popular-papers">
    <%= render :partial => "papers/list", :locals => { :papers => @popular_papers } %>

    <p class="centered">
      <%= link_to "View all popular papers &raquo;".html_safe, popular_papers_path %>
    </p>
  </div>

  <div class="paper-list hidden" id="submitted-papers">
    <%= render :partial => "papers/list", :locals => { :papers => @submitted_papers } %>

    <p class="centered">
      <%= link_to "View all papers &raquo;".html_safe, papers_path %>
    </p>
  </div> -->

  <div class="paper-list" id="all-papers">
    <%= render :partial => "papers/list", locals: { papers: @papers } %>

    <p class="centered">
      <%= link_to "View all papers &raquo;".html_safe, papers_path %>
    </p>
  </div>
</div>
