<div style="border-bottom: 1px solid #a8a8a8;border-top: 1px solid #bdbdbd; background: #efefef;">
  <div class="wrapper">
    <div class="columns homepage">
      <div class="hero">
        <h1><%= setting(:name) %></h1>

        <p class="lead"><%= setting(:tagline).capitalize.html_safe %></p>

        <a href="/about" class="btn btn-reverse">
          Learn more &raquo;
        </a>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="filter-menu">
    <div class="tabnav">
      <nav class="tabnav-tabs">
        <a href="#" class="tabnav-tab selected" data-target="all-papers">Accepted papers (<%= Paper.visible.count %>)</a>
      </nav>
    </div>
  </div>


  <div class="paper-list" id="all-papers">
    <%= render :partial => "papers/list", :locals => { :papers => @papers } %>

    <p class="centered">
      <%= link_to "View all papers &raquo;".html_safe, accepted_papers_path %>
    </p>
  </div>
</div>
