<div class="container">
  <div class="hero">
    <div class="hero-content col-lg-7">
      <h1> <%= Rails.application.settings['name'] %> is <%= setting(:tagline).html_safe %></h1>
      <p class="lead">Committed to publishing curated Jupyter notebooks with zero article processing charges or
        subscription fees.</p>
      <div class="hero-ctas">
        <%= link_to "Submit a paper to #{Rails.application.settings['abbreviation']}".html_safe, new_paper_path, class: "btn" %>
      </div>
    </div>

    <div class="hero-nav col-lg-4 offset-lg-1 align-self-end">
      <%= link_to papers_path do %>
      <%= image_tag 'icon_papers.svg' %>
      Explore Papers
      <% end %>
      <%= link_to "https://docs.neurolibre.com/en/latest/" do %>
      <%= image_tag 'icon_docs.svg' %>
      Documentation
      <% end %>
      <%= link_to about_path do %>
      <%= image_tag 'icon_info.svg' %>
      Learn More
      <% end %>
    </div>
  </div>
</div>
