<div class="container">
  <div class="hero">
    <div class="hero-content col-lg-7">
      <h1>The <%= Rails.application.settings['name'] %> is <%= setting(:tagline).html_safe %></h1>
      <div class="hero-ctas">
        <%= link_to "Submit a paper to #{Rails.application.settings['abbreviation']}".html_safe, new_paper_path, class: "btn" %>
        <%= link_to "🎉 Volunteer to review".html_safe, "/reviewer-signup.html", class: "btn" %>
      </div>
    </div>

    <div class="hero-nav col-lg-4 offset-lg-1 align-self-end">
      <%= link_to papers_path do %>
      <%= image_tag 'icon_papers.svg' %>
      Explore Papers
      <% end %>
      <%= link_to "https://openjournals.readthedocs.io/en/jose" do %>
      <%= image_tag 'icon_docs.svg' %>
      Documentation
      <% end %>
      <%= link_to about_path do %>
      <%= image_tag 'icon_info.svg' %>
      Learn More
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h4>Recently Published Papers <span class="badge-count"><%= Paper.visible.count %></span></h4>

  <div class="paper-list" id="all-papers">
    <%= render partial: "papers/list", locals: { papers: @papers } %>
  </div>

  <div class="my-5 text-center">
    <%= link_to "View all papers".html_safe, published_papers_path, class: "btn", data: { text: "View all papers"} %>
  </div>
</div>
