<div class="wrapper">
  <div class="new-paper">
    <h1>Profile</h1>

    <div class="columns new-paper-form">
      <div class="flash flash-warn">
        <p>Please make sure you've added an email address and GitHub username to your profile before submitting. We'll use this to communicate the status of your paper and you won't be able to submit a paper without giving us this information. We promise not to spam you. </p>
      </div>

      <%= form_tag('/update_profile', id: 'profile-form') do %>
        <dl class="one-half column">
          <dt><%= label_tag :email %></dt>
          <dt><%= email_field 'user', 'email', placeholder: 'your.email@example.com', size: 21 %></dt>
        </dl>
        <dl class="one-half column">
          <dt><%= label_tag :github_username %></dt>
          <dt><%= text_field 'user', 'github_username', placeholder: '@username', size: 21 %></dt>
        </dl>
        <div class="form-actions">
          <%= submit_tag('Update profile', class: 'btn') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
