<div class="" style="margin: 0px 30px;">
  <h2>Editor dashboard</h2>
  <ul class="nav nav-pills nav-fill nav-justified" style="padding-bottom: 20px;">
    <li class="nav-item">
      <a class="<%= current_class?('/dashboard/incoming') %>" href="/dashboard/incoming">Papers with no editor</a>
    </li>
    <li class="nav-item">
      <a class='<%= current_class?("/dashboard/#{current_user.editor.login}") %>' href="/dashboard/<%= current_user.editor.login %>">Your papers</a>
    </li>
    <li class="nav-item">
      <a class="<%= current_class?('/dashboard/in_progress') %>" href="/dashboard/in_progress">In progress papers</a>
    </li>
    <li class="nav-item">
      <a class="<%= current_class?('/dashboard/all') %>" href="/dashboard/all">All papers</a>
    </li>
    <li class="nav-item">
      <a class="<%= current_class?('/dashboard') %>" href="/dashboard">JOSS statistics</a>
    </li>
  </ul>
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col" width="25%">Paper title</th>
        <th scope="col" width="8%" class="text-center">Reviews</th>
        <th scope="col" width="8%">State</th>
        <th scope="col" width="18%">Reviewers</th>
        <th scope="col" width="12%">Submitted</th>
        <th scope="col" width="29%">Last Activity</th>
      </tr>
    </thead>
    <tbody>
      <% @papers.each do |paper| %>
      <tr>
        <td><%= link_to truncate(paper.title, :length => 50), paper_url(paper) %></td>
        <td class="text-center"><%= link_to truncate("#{paper.meta_review_issue_id}", :length => 60), paper.meta_review_url  %> / <%= link_to truncate("#{paper.review_issue_id}", :length => 60), paper.review_url  %></td>
        <td><pre><%= paper.state %></pre></td>
        <td><%= linked_reviewers(paper) %></td>
        <td><%= time_ago_in_words(paper.created_at) %> ago</td>
        <td style="position: relative;">
          <%= last_comment_for(paper) %>
          <a href="#paper-activity-<%= paper.id %>" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample" style="position: absolute; bottom: 4px; right: 4px">More ▼</a>
          <div class="collapse" id="paper-activity-<%= paper.id %>" style="margin-top: 5px;">
            <div class="card card-body" style="width: 85%;">
              <%= card_activity(paper) %>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @papers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
