<div class="container">
    <div class="welcome">Welcome, <%= current_user.editor.full_name %></div>
    <div class="hero-small dashboard">
      <div class="hero-title">
        <%= image_tag "icon_papers.svg", height: "32px" %><h1>Editor dashboard</h1>
      </div>
    </div>
</div>

<div class="container">
  <div class="btn-group" role="group" aria-label="Paper Status">
    <%= link_to "/dashboard/#{current_user.editor.login}", class: current_class?("/dashboard/#{current_user.editor.login}") do %>
    Your papers
    <div class="count-badge"><%= raw current_user.editor.papers.in_progress.count %></div>
    <% end %>
    <%= link_to "/dashboard/incoming", class: current_class?("/dashboard/incoming") do %>
    Papers with no editor
    <div class="count-badge"><%= raw Paper.unscoped.in_progress.where(editor: nil).count %></div>
    <% end %>
    <%= link_to "/dashboard/in_progress", class: current_class?("/dashboard/in_progress") do %>
    In progress papers
    <div class="count-badge"><%= raw Paper.unscoped.in_progress.count %></div>
    <% end %>
    <%= link_to "/dashboard/all", class: current_class?("/dashboard/all") do %>
    All papers
    <div class="count-badge"><%= raw Paper.unscoped.all.count %></div>
    <% end %>
    <%= link_to "/dashboard", class: current_class?("/dashboard") do %>
    <%= Rails.application.settings['abbreviation'] %> Statistics
    <% end %>
  </div>
</div>

<div class="container">
  <table class="dashboard-table">
    <thead>
      <tr>
        <th scope="col" width="12%">Status</th>
        <th scope="col" width="34%">Paper title</th>
        <th scope="col" class="text-center" width="10%">Reviews</th>
        <th class="mobile-hide text-center" scope="col" width="8%">Reviewers</th>
        <th class="mobile-hide" scope="col" width="15%">Last comment</th>
        <th scope="col" width="2%" style="padding:0 1em 0 0;"><%= sort_icon(@order) %></th>
      </tr>
    </thead>
    <tbody>
      <% @papers.each do |paper| %>
      <tr>
        <td class="state"><%= paper.state.titleize %></td>
        <td><%= link_to paper.title, paper_url(paper), title: paper.title, class: "d-inline-block text-truncate", style: "max-width: 450px;" %><div class="time">Submitted <%= time_ago_in_words(paper.created_at) %> ago <%= pretty_labels_for(paper) %></div></td>
        <td class="text-center"><%= review_issue_links(paper) %></td>
        <td class="text-center mobile-hide">
          <%- paper.reviewers.each do |reviewer| %>
            <%= link_to image_tag(avatar(reviewer), size: "24x24", class: "avatar", title: reviewer), github_user_link(reviewer).html_safe %>
          <%- end %>
        </td>
        <td class="mobile-hide"><%= comment_activity(paper) %></td>
        <td style="display:none;"></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row">
    <!-- :class not applying here? --> <div class="pagination_helper"><%= page_entries_info(@papers).capitalize.html_safe %></div>
    <%= will_paginate @papers, inner_window: 3, outer_window: 0, page_links: false %>
  </div>
</div>
