<div class="container">
  <div class="btn-group" role="group" aria-label="Paper Status">
    <%= link_to "Submissions overview", aeic_dashboard_path(track_id: @track), class: current_class?(aeic_dashboard_path) %>
    <%= link_to "Editors", editors_path(track_id: @track), class: current_class?(editors_path) %>
    <%= link_to "Invitations", invitations_path(track_id: @track), class: current_class?(invitations_path) %>
    <%= link_to "Onboarding", onboardings_path, class: current_class?(onboardings_path) %>
  </div>

  <% if [aeic_dashboard_path, editors_path, invitations_path].include?(request.path) && JournalFeatures.tracks? %>
  <div class="float-right">
    <%= select_tag :track_id, options_from_collection_for_select(Track.all, "id", "name", params[:track_id].presence), include_blank: "All tracks", class: "form-control left", style: "font-size:81%", onchange: "top.location.href='?track_id=' + this.options[this.selectedIndex].value;" %>
  </div>
  <% end %>
</div>
