<div class="row footer">
  <div class="col-sm-6">
    <%= link_to image_tag("osi.png", :height => "65px"), "https://opensource.org" %>
    <p><%= Rails.application.settings['name'] %> is an <a href="https://opensource.org/affiliates/list">affiliate</a> of the <a href="https://opensource.org">Open Source Inititative</a>.</p>
  </div>

  <div class="col-sm-6">
    <%= link_to image_tag("numfocus.png", :height => "60px"), "https://numfocus.org" %>
    <p><%= Rails.application.settings['name'] %> is part of <%= link_to "Open Journals", "http://www.theoj.org/" %>, which is a <%= link_to "NumFOCUS-sponsored project", "https://www.numfocus.org/open-source-projects/" %>.</p>
  </div>
</div>

<div class="row cc">
  <%= image_tag "cc-logo.svg", :height => "48px" %>
  <p>Public user content licensed <%= link_to "CC BY 4.0", "https://creativecommons.org/licenses/by/4.0/" %> unless otherwise specified</p>
</div>
