<div class="row footer">
  <div class="col-sm-4">
    <%= link_to image_tag("openjournals.png", height: "65px"), "https://www.theoj.org" %>
    <p><%= Rails.application.settings['name'] %> is supported by the <a href="https://www.theoj.org">Open Journals</a> infrastructure.</p>
  </div>
  <div class="col-sm-4">
    <!-- <%= link_to image_tag("logo_medium.png", height: "65px"), "https://juliacon.org" %> -->
    <%= link_to image_tag("juliacon.svg", height: "65px"), "https://juliacon.org" %>
    <p><%= Rails.application.settings['name'] %> is a <%= link_to "JuliaCon project", "https://juliacon.org/" %> and part of the <%= link_to "Julia Programming Language", "https://julialang.org/" %> community.</p>
  </div>
  <div class="col-sm-4">
    <%= link_to image_tag("numfocus.png", height: "65px"), "https://numfocus.org" %>
    <p><%= link_to "Open Journals", "https://www.theoj.org/" %> and the <%= link_to "Julia Programming Language", "https://julialang.org/" %> are both <%= link_to "NumFOCUS-sponsored projects", "https://www.numfocus.org/open-source-projects/" %>.</p>
  </div>
</div>

<div class="row cc">
  <%= image_tag "cc-logo.svg", height: "48px" %>
  <p>Public user content licensed <%= link_to "CC BY 4.0", "https://creativecommons.org/licenses/by/4.0/" %> unless otherwise specified.<br>ISSN <%= Rails.application.settings['issn'] %></p>
</div>





