<%= form_for(@editor) do |f| %>
  <% if @editor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@editor.errors.count, "error") %> prohibited this editor from being saved:</h2>

      <ul>
      <% @editor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type, "Kind" %><br>
    <%= f.select :kind, %w(topic board emeritus) %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, disabled: @editor.kind != "board" %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :login %><br>
    <%= f.select :login, Repository.editors, { include_blank: true, selected: "@#{@editor.login}" } %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :avatar_url %><br>
    <%= f.text_field :avatar_url %>
  </div>
  <div class="field">
    <%= f.label :categoryies, "Categories (comma or space separated)" %><br>
    <%= f.text_field :category_list %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
