<%= form_for(@editor) do |f| %>
<div class="form-group">
  <% if @editor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@editor.errors.count, "error") %> prohibited this editor from being saved:</h2>

      <ul>
      <% @editor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="form-group">
  <div class="row">
    <div class="col">
      <%= f.label :type, "Kind" %>
      <%= f.select :kind, %w(topic board emeritus), {}, class: "form-control" %>
    </div>
    <div class="col">
      <%= f.label :title %>
      <%= f.text_field :title, disabled: @editor.kind != "board", class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="col">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col">
      <%= f.label :login %>
      <%= f.select :login, Repository.editors, { include_blank: true, selected: "@#{@editor.login}" }, class: "form-control" %>
    </div>

    <div class="col">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col">
      <%= f.label :avatar_url %>
      <%= f.text_field :avatar_url, class: "form-control" %>
    </div>

    <div class="col">
      <%= f.label :categories, "Categories (comma or space separated)" %>
      <%= f.text_field :category_list, class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :url %>
  <%= f.text_field :url, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, rows: 4, class: "form-control" %>
</div>

<div class="form-actions">
  <%= f.submit %>
</div>
<% end %>
