<p id="notice"><%= notice %></p>

<div class="editors">
  <div class="content">
    <h1>Listing Editors</h1>

    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Title</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Login</th>
          <th>Email</th>
          <th>Categories</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @editors.each do |editor| %>
          <tr>
            <td><%= editor.kind %></td>
            <td><%= editor.title %></td>
            <td><%= editor.first_name %></td>
            <td><%= editor.last_name %></td>
            <td><%= editor.login %></td>
            <td><%= editor.email %></td>
            <td><%= editor.category_list %></td>
            <td><%= editor.description %></td>
            <td><%= link_to 'Show', editor %></td>
            <td><%= link_to 'Edit', edit_editor_path(editor) %></td>
            <td><%= link_to 'Destroy', editor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <div class="links">
      <%= link_to 'New Editor', new_editor_path %>
    </div>
  </div>
</div>
