<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="col-7">
    <div class="welcome">Editors in Chief Dashboard</div>
    <div class="hero-small dashboard">
      <div class="hero-title">
        <%= image_tag "icon_papers.svg", height: "32px" %><h1>Active Editors</h1>
      </div>
    </div>
  </div>
</div>

<%= render partial: "eic_dashboard/menu" %>
<div class="container">
  <%= link_to 'New Editor', new_editor_path, class: 'btn action-btn float-right' %>

  <table class="dashboard-table sortable">
    <thead>
      <tr class="text-nowrap">
        <th scope="col" width="15%">Name</th>
        <th scope="col" width="15%">Login</th>
        <th scope="col" width="30%">Description</th>
        <th scope="col">Categories</th>
        <th scope="col" width="10%" title="Papers assigned (+ paused)">Editing</th>
        <th scope="col" class="text-center">Availability</th>
        <th scope="col" colspan="2" class="sorttable_nosort"></th>
      </tr>
    </thead>

    <tbody>
      <%- Editor.active.order('last_name ASC').each do |editor| %>
      <tr>
        <td>
          <%= link_to editor.full_name, editor, title: strip_tags(editor.description) %>
          <%= "(new)" if editor.created_at > 2.months.ago %>
        </td>
        <td sorttable_customkey=<%= editor.login.downcase %>>
          <%= link_to image_tag(avatar(editor.login), size: "24x24", class: "avatar", title: github_user_link(editor.login)), github_user_link(editor.login), target: "_blank" %>
          <%= editor.login %>
        </td>
        <td class="text-justify" title="<%= strip_tags(editor.description) %>"><%= truncate(strip_tags(editor.description), length: 150) %></td>
        <td style="max-width:250px"><%= editor.category_list %></td>
        <td title="Max: <%= editor.max_assignments %>"><%= link_to in_progress_for_editor(editor), "/dashboard/#{editor.login}" %></td>
        <td class="text-center"><%= display_availability(editor) %></td>
        <td><%= link_to 'âœï¸', edit_editor_path(editor), title: 'Edit' %></td>
        <td><%= link_to 'ðŸ—‘', editor, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete' %></td>
      </tr>
      <%- end %>
    </tbody>
  </table>

  <div class="links">
    <%= link_to 'New Editor', new_editor_path, class: 'btn action-btn float-right' %>
  </div>
</div>

<br />
<br />

<div class="container">
  <div class="col-7">
    <div class="hero-small dashboard">
      <div class="hero-title">
        <%= image_tag "icon_papers.svg", height: "32px" %><h1>Editors Emeritus</h1>
      </div>
    </div>
  </div>

  <table class="dashboard-table">
    <thead>
      <tr>
        <th scope="col" width="15%">Name</th>
        <th scope="col" width="15%">Login</th>
        <th scope="col">Categories</th>
        <th scope="col" width="30%">Description</th>
        <th scope="col" colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <%- Editor.emeritus.order('last_name ASC').each do |editor| %>
      <tr>
        <td><%= link_to editor.full_name, editor %></td>
        <td sorttable_customkey=<%= editor.login.downcase %>>
          <%= link_to image_tag(avatar(editor.login), size: "24x24", class: "avatar", title: github_user_link(editor.login)), github_user_link(editor.login), target: "_blank" %>
          <%= link_to editor.login, "/dashboard/#{editor.login}" %></td>
        <td><%= editor.category_list %></td>
        <td class="d-inline-block text-truncate" style="max-width:450px"><%= editor.description.html_safe %></td>
        <td><%= link_to 'âœï¸', edit_editor_path(editor), title: 'Edit' %></td>
        <td><%= link_to 'ðŸ—‘', editor, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete' %></td>
      </tr>
      <%- end %>
    </tbody>
  </table>
</div>
