<p id="notice"><%= notice %></p>

<div class="editors">
  <div class="content">
    <%= render partial: "shared/editor", locals: { editor: @editor } %>

    <p>
      <strong>Type:</strong>
      <%= @editor.kind %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @editor.title %>
    </p>

    <p>
      <strong>First name:</strong>
      <%= @editor.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @editor.last_name %>
    </p>

    <p>
      <strong>Login:</strong>
      <%= @editor.login %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @editor.email %>
    </p>

    <p>
      <strong>Avatar url:</strong>
      <%= @editor.avatar_url %>
    </p>

    <p>
      <strong>Categories:</strong>
      <%= @editor.category_list %>
    </p>

    <p>
      <strong>Url:</strong>
      <%= @editor.url %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @editor.description.html_safe %>
    </p>

    <div class="links">
      <%= link_to 'Edit', edit_editor_path(@editor) %> |
      <%= link_to 'List', editors_path %>
    </div>
  </div>
</div>
