<% if current_user.aeic? %>
<div class="card" id="track-info">
  <div class="card-header">Track</div>
  <div class="card-body">
  <% if paper.meta_review_issue_id %>

    <% if paper.track %>
      <p class="card-text">
        This paper is assigned to the track: <strong><%= paper.track.name %></strong>.
      </p>
      <p class="card-text">
        This track is managed by:
        <ul>
          <% paper.track.aeics.each do |aeic| %>
            <li><%= aeic.full_name %> (<%= aeic.login %>)</li>
          <% end %>
          <%= "Track without AEiC" if paper.track.aeics.empty? %>
        </ul>
      </p>
    <% else %>
    <p class="card-text">
      This paper is <strong>not assigned to any track</strong>
      </p>
    <% end %>
  <% else %>
    <% if paper.suggested_subject %>
      <p class="card-text">
        Author suggested this paper' subject is <strong><%= paper.suggested_subject %></strong>
      </p>
    <% else %>
      <p class="card-text">
        Author didn't suggest any subject for this paper.
      </p>
    <% end %>

    <% if paper.track_id.present? %>
      <p class="card-text">
        This submission will be assigned to the track:  <strong><%= paper.track.name %></strong>
      </p>
      <p class="card-text">
        <%= paper.track.aeics.empty? ? "Track without AEiC" : "Track managed by:" %>
        <ul>
          <% paper.track.aeics.each do |aeic| %>
            <li><%= aeic.full_name %> (<%= aeic.login %>)</li>
          <% end %>
        </ul>
      </p>
      <% end %>
  <% end %>

  <%= link_to "Change track &raquo;".html_safe, "#changeTrack", title: "Change submission's track", data: { toggle: 'collapse'} %>

    <div class="row collapse" id="changeTrack">
      <div class="col-md-6">
        <%= form_tag(change_track_paper_url(paper), class: "left") do %>
          <%= select_tag :track_id, options_from_collection_for_select(Track.where.not(id: paper.track_id), "id", "name"), prompt: "Select new track", class: "form-control left" %>
          <%= submit_tag "Change paper's track", class: "btn btn-primary left change-track" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br />
<% end %>

<% if current_user.aeic? || (current_user == paper.submitting_author) %>
  <div class="card">
    <div class="card-header">
      Paper actions
    </div>
    <div class="card-body">
      <p class="card-text">Available actions for you on this paper (note to editors that if you use these buttons, you'll still have to manually close the review issue on GitHub).</p>

      <div class="row">
        <% if current_user.aeic? %>
          <% unless paper.meta_review_issue_id %>
          <div class="col-md-5">
            <%= form_tag(start_meta_review_paper_url(paper), class: "left") do %>
              Editor: <%= select_tag :editor, options_for_select(Repository.editors, selected: nil), prompt: "Suggest editor (optional)", class: "form-control left" %>
              <%= submit_tag "Start pre review", class: "btn btn-primary left start-review" %>
            <% end %>
          </div>
          <div class="col-md-1">
          </div>
          <% end %>

          <% unless paper.review_issue_id %>
          <div class="col-md-3">
            <%= link_to "Reject paper", reject_paper_path(paper), data: { turbo_method: :post, turbo_confirm: "Rejecting. Are you sure?" }, form_class: "left", class: "btn btn-danger" %>
          </div>
          <% end %>
        <% end %>

        <% if current_user.aeic? %>
          <div class="col-md-3">
            <%= link_to "Withdraw paper", withdraw_paper_path(paper), data: { turbo_method: :post, turbo_confirm: "Withdrawing. Are you sure?" }, form_class: "left", class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br />
<% end %>
