<% papers.each do |paper| %>
<div class="list-paper columns">
  <div class="details three-fourths column">
    <span class="octicon octicon-mark-github"></span><h2 class="paper-title"><%= link_to paper.pretty_repository_name, paper_path(paper) %><a href="<%= badge_link(paper) %>"><img src="http://joss.theoj.org/papers/<%= paper.sha %>/status.svg"></a></h2>
    <%= formatted_body(paper, 200) %>
  </div>

  <div class="meta one-fourth column">
    <% if paper.pretty_doi == "DOI pending" %>
      DOI pending
    <% else %>
      <%= link_to paper.pretty_doi, paper.doi_with_url, target: "_blank", class: "doi" %><span class="octicon octicon-link-external"></span>
    <% end %>
  </div>
</div>
<% end %>
