<% papers.each do |paper| %>
<% unless paper.submitted? %>
<div class="paper-card">
  <div class="row">
    <div class="col-lg-9">
      <%= pretty_status_badge(paper) %> <%= time_words(paper) %>
      <h2 class="paper-title"><%= link_to paper.title, paper_path(paper) %>
        <!-- <span class="badge-lang">Python</span>-->
      </h2>
      <%# formatted_body(paper, 400) %>
    </div>
    <div class="col-lg-3 paper-meta">
      <div class="submitted_by">
        <%= link_to submittor_github(paper), :target => "_blank" do %>
        <%= image_tag submittor_avatar(paper), size: "24x24" %>
        <%= paper.submitting_author.pretty_github_username %>
        <% end %>
      </div>
      <div class="doi">
        <% if paper.pretty_doi == "DOI pending" %>
        <%= image_tag 'doi.svg' %><%= link_to "Pending", paper_path(paper) %>
        <% else %>
        <%= image_tag 'doi.svg' %><%= link_to paper.doi, paper_path(paper) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
