<% papers.each do |paper| %>
<% unless paper.submitted? %>
<div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://github.com/neurolibre/neurolibre.org/blob/master/static/img/nlbooks/myelinsr_featured.png?raw=true)"></div>
      <ul class="details">
        <li class="submitted_by">
        <%= image_tag submittor_avatar(paper), size: "24x24" %>
        <%= link_to submittor_github(paper), target: "_blank" do %>
        <%= paper.submitting_author.pretty_github_username %>
        <% end %>
        </li>
        <li>
        <% paper.language_tags.each do |tag| %>
          <span class="badge-lang"><%= link_to tag, papers_by_language_path(language: tag) %></span>
          <% end %>
        </li>
        <li class="doi">
        <% if paper.pretty_doi == "DOI pending" %>
        <%= image_tag 'doi.svg' %><%= link_to "Pending", paper_path(paper) %>
        <% else %>
        <%= image_tag 'doi.svg' %><%= link_to paper.doi, paper.seo_url %>
        <% end %>
        </li>
      </ul>
    </div>
    <div class="description">
      <%= pretty_status_badge(paper) %> <%= time_words(paper) %>
      <h2 class="paper-title"><%= link_to paper.title, paper.seo_url %>
      </h2>
      <p> This study explores an important aspect of quantitative magnetic resonance imaging (qMRI): validation. Focusing specifically on myelin measures, we show the results of our meta-analysis comparing quantitative MRI with histology.</p>
    </div>
  </div>
<% end %>
<% end %>
