<div class="paper-search">
  <%= form_tag nil, method: :get, enforce_utf8: false do %>
    <span class="icon octicon octicon-search"></span>
    <%= text_field_tag :query, params[:query], placeholder: "Search..." %>
    <%= submit_tag "Search", name: nil %>
    <%= submit_tag("Clear", type: "reset", name: nil) if params[:query].present? %>
  <%- end %>

  <div class="info">
    <%- if params[:query].present? %>
      <span>
        Found <%= pluralize(@papers.total_entries, "matching paper") %>
      </span>
    <%- end %>
  </div>
</div>

<script>
  $(function() {
    var search = $('.paper-search');
    $('input[type=reset]', search).on('click', function() {
      $('input[name=query]', search).val("");
      $('form', search).submit();
    });
  });
</script>
