<div class="container paper-show">
  <div class="paper-title" style="margin-bottom: 2em;">
    <div class="paper-meta">
      <h1><%= @paper.title %></h1>
      <span class="small">Submitted <%= @paper.created_at.strftime('%d %B %Y') %></span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="joss-paper-pdf-container" class="col-md-9">
      <div class="generic-content-item" style="margin-top: 0;">
        <%= render partial: "papers/status", locals: { paper: @paper } %>
        <%= render partial: "papers/eic_summary", locals: { paper: @paper } if current_user %>
        <%= render partial: "papers/vote_summary", locals: { paper: @paper } if current_editor %>
        <%= render partial: "papers/notes", locals: { paper: @paper } if current_editor %>
        <%= render partial: "papers/actions", locals: { paper: @paper } if current_user %>
      </div>
    </div>

    <div class="col-md-3 paper-sidebar">
      <div class="btn-group-vertical" role="group" aria-label="...">
        <%= link_to  @paper.repository_url, class: 'btn paper-btn' do %>
          <%= image_tag "gh-icon.svg" %>
          Software repository
        <% end %>

        <% if @paper.meta_review_issue_id %>
          <%= link_to @paper.meta_review_url, class: 'btn paper-btn' do %>
            <%= image_tag "icon_docs.svg" %>
            Paper meta review
          <% end %>
        <% end %>

        <% if @paper.review_issue_id %>
          <%= link_to @paper.review_url, class: 'btn paper-btn' do %>
            <%= image_tag "icon_docs.svg" %>
            Paper review
          <% end %>
        <% end %>
      </div>

      <% if @paper.review_issue_id %>
        <div class="label">Markdown badge</div>
        <p><%= image_tag @paper.status_badge_url %> &nbsp; <a href="#" class="clippy" data-clipboard-action="copy" data-clipboard-text="<%= @paper.markdown_code %>"><%= octicon "clippy", height: 16,  class: "", "aria-label": "Copy" %></a></p>
      <% end %>
    </div>
  </div>
</div>
