<div class="container paper-show">
  <%= render partial: "shared/retraction_info" %>

  <div class="paper-title">
    <span class="__dimensions_badge_embed__" data-doi="<%= @paper.doi %>" data-hide-zero-citations="true"></span>
    <div class="paper-meta">
      <h1><%= @paper.title %></h1>
      <% @paper.language_tags.compact.each do |tag| %>
      <span class="badge-lang"><%= link_to tag, papers_by_language_path(language: tag) %></span>
      <% end %>
      <span class="small">Submitted <%= @paper.created_at.strftime('%d %B %Y') %></span>
      •
      <span class="small">Published <%= @paper.accepted_at.strftime('%d %B %Y') %></span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="joss-paper-pdf-container" class="col-md-9">
      <object id="joss-paper" data="<%= @paper.pdf_url %>#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&view=FitH" type="application/pdf" style="width:100%; height:100%;">
        <embed src="<%= @paper.pdf_url %>#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0" type="application/pdf"  style="width:100%; height:100%;" />
      </object>
    </div>
    <%= render partial: "sidebar_published" %>
  </div>
</div>
