<div class="alert alert-warning">
  <% case paper.state %>
  <% when "review_pending" %>
  This paper is <strong><%= paper.pretty_state %></strong> but the
    review hasn't started. Editor and reviewer assignments are happening over <%= link_to "on
    GitHub &raquo;".html_safe, paper.meta_review_url %>
  <% when "submitted" %>
  This paper is <strong><%= paper.pretty_state %></strong> but the
    review hasn't started.
  <% when "under_review" %>
  This paper is <strong><%= paper.pretty_state %></strong> which means
    review has begun. You can track the progress of this review <%= link_to "on GitHub &raquo;".html_safe, paper.review_url %>
  <% when "review_completed" %>
  This paper is <strong><%= paper.pretty_state %></strong> which means
    the review is completed and is awaiting review by the editor.
    You can track the progress of this paper <%= link_to "on GitHub &raquo;".html_safe, paper.review_url %>
  <% when "accepted" %>
  This paper is <strong><%= paper.pretty_state %></strong> which means
    the review is completed and it has been accepted into The Journal
    of Open Source Software. You can view the review of this paper <%= link_to "on GitHub &raquo;".html_safe, paper.review_url %>
  <% when "rejected" %>
  This paper is <strong><%= paper.pretty_state %></strong> which means
    is has not been accepted into The Journal of Open Source Software.
  <% end %>
</div>
