<div class="alert flash-warn">
  <% case paper.state %>
  <% when "review_pending" %>
  <p>This paper is <strong><%= paper.pretty_state %></strong> but the
    review hasn't started. Editor and reviewer assignments are happening over in
    GitHub over <%= link_to "here &raquo;".html_safe, paper.meta_review_url %></p>
  <% when "submitted" %>
  <p>This paper is <strong><%= paper.pretty_state %></strong> but the
    review hasn't started.</p>
  <% when "under_review" %>
  <p>This paper is <strong><%= paper.pretty_state %></strong> which means
    review has begun. You can track the progress of this review on
    GitHub over <%= link_to "here &raquo;".html_safe, paper.review_url %></p>
  <% when "review_completed" %>
  <p>This paper is <strong><%= paper.pretty_state %></strong> which means
    the review is completed and is awaiting review by the editor.
    You can track the progress of this paper on
    GitHub over <%= link_to "here &raquo;".html_safe, paper.review_url %></p>
  <% when "accepted" %>
  <p>This paper is <strong><%= paper.pretty_state %></strong> which means
    the review is completed and it has been accepted into The Journal
    of Open Source Software. You can view the review of this paper on
    GitHub over <%= link_to "here &raquo;".html_safe, paper.review_url %></p>
  <% when "rejected" %>
  <p>This paper is <strong><%= paper.pretty_state %></strong> which means
    is has not been accepted into The Journal of Open Source Software.</p>
  <% end %>
</div>
