<div class="container">
  <div class="row">
    <div class="hero-small">
    <div class="hero-title">
      <%= image_tag "icon_papers.svg", :height => "32px" %><h1><%= Rails.application.settings['abbreviation'] %> Papers</h1>
      </div>

</div>
    </div>
    </div>
  </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <%= link_to "All papers (#{Paper.everything.count})", papers_path, :class => "tabnav-tab #{selected_class('index')}" %>
        <%= link_to "Active papers (#{Paper.in_progress.count})", active_papers_path, :class => "tabnav-tab #{selected_class('active')}" %>
        <%= link_to "Published papers (#{Paper.visible.count})", published_papers_path, :class => "tabnav-tab #{selected_class('popular')}" %>
      </div>
    </div>
  </div>
  <div id ="primary-content" class="paper-list">
    <%= render :partial => "list", :locals => { :papers => @papers } %>
  </div>
  <div class="row">
    <!-- :class not applying here? --> <div class="pagination_helper"><%= page_entries_info @papers %></div>
    <%= will_paginate @papers, inner_window: 3, outer_window: 0, page_links: false %>
  </div>
</div>
