<div class="container">
    <div class="hero-small">
      <div class="hero-title">
      <% if @filtering %>
        <%= image_tag "icon_papers.svg", :height => "32px" %><h1><%= Rails.application.settings['abbreviation'] %> Papers: <%= @term %></h1>
      <% else %>
        <%= image_tag "icon_papers.svg", :height => "32px" %><h1><%= Rails.application.settings['abbreviation'] %> Papers</h1>
      <% end %>
      </div>
    </div>
</div>

<div class="container">

    <div class="btn-group" role="group" aria-label="Paper Status">

      <%= link_to papers_path, :class => "tabnav-tab #{selected_class('index')}" do %>
      All Papers
      <div class="count-badge"><%= raw Paper.everything.count %></div>
      <% end %>
      <%= link_to published_papers_path, :class => "tabnav-tab #{selected_class('popular')}" do %>
      Published Papers
      <div class="count-badge"><%= raw Paper.visible.count %></div>
      <% end %>
      <%= link_to active_papers_path, :class => "tabnav-tab #{selected_class('active')}" do %>
      Active Papers
      <div class="count-badge"><%= raw Paper.in_progress.count %></div>
      <% end %>

    </div>

  <div id ="primary-content row" class="paper-list">
    <%= render :partial => "list", :locals => { :papers => @papers } %>
  </div>
  <div class="row">
    <!-- :class not applying here? --> <div class="pagination_helper"><%= page_entries_info(@papers).capitalize.html_safe %></div>
    <%= will_paginate @papers, inner_window: 3, outer_window: 0, page_links: false %>
  </div>
</div>
