<div class="wrapper">
  <div class="all-papers">
    <div class="filter-menu">
      <div class="tabnav">
        <nav class="tabnav-tabs">
          <%# link_to "Recent papers (#{Paper.recent.visible.count})", recent_papers_path, :class => "tabnav-tab #{selected_class('recent')}" %>
          <%= link_to "Accepted papers (#{Paper.visible.count})", popular_papers_path, class: "tabnav-tab #{selected_class('popular')}" %>
          <%= link_to "Active papers (#{Paper.in_progress.count})", active_papers_path, class: "tabnav-tab #{selected_class('active')}" %>
          <%= link_to "All papers (#{Paper.everything.count})", papers_path, class: "tabnav-tab #{selected_class('index')}" %>
        </nav>
      </div>
    </div>

    <%= render partial: "list", locals: { papers: @papers } %>
    <div class="pagination centered">
      <%= will_paginate @papers %>
    </div>
  </div>
</div>
