<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-10">
      <h1>Submit <%= setting(:product) %> for review</h1>

      <div class="alert alert-info" role="alert">

      <center><strong>⚠️ ⚠️ ⚠️ Before you submit ⚠️ ⚠️ ⚠️ </strong></center>
      <p>As the submitting author, before you submit, please make sure that you have reviewed the following items. We promise this will make things go much more quickly during the review process:
      <ul>
        <li>You have reviewed the <a href="https://joss.readthedocs.io/en/latest/submitting.html">submission instructions</a> and verified that your submission meets our <a href="https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements">submission requirements</a>.</li>
        <li>There is a Markdown file named <code>paper.md</code> present in your repository that is structured <a href="https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography">like this</a>, and you've tested it compiles properly using <a href='https://whedon.theoj.org'>this preview service</a>.</li>
        <li>You have included the <a href="https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain">required sections</a> in your paper.</li>
      </ul>
      </p>
      </div>

      <%= form_for @paper do |f| %>
      <div class="form-group">
        <%= render partial: "shared/errors", locals: { object: @paper } if @paper.errors.any? %>
        <%- if paper_types.present? %>
          <dl class="clear full">
            <dt><%= f.label :kind, "Type" %></dt>
            <dt><%= f.select :kind, paper_types %></dt>
          </dl>
        <%- end %>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <%= f.label :title %>
            <%= f.text_field :title, placeholder: "What's the title of this paper?", class: "form-control" %>
          </div>
          <div class="col">
            <%= f.label "Repository Address" %>
            <%= f.text_field :repository_url, placeholder: "What's the URL of your #{setting(:product)}?", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <%= f.label "Software Version" %>
            <%= f.text_field :software_version, placeholder: "e.g. v1.0.0", class: "form-control" %>
          </div>
          <div class="col">
            <label>Suggested editor. View editors <%= link_to "here &raquo;".html_safe, "/about#editorial_board", target: "_blank" %></label>
            <%= f.select(:suggested_editor, options_for_select(Repository.editors), {include_blank: true, prompt: "Suggested editor (optional)"}, class: "form-control", style: "margin-right: 12px;") %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Description" %>
        <%= f.text_area :body, rows: "7",
          placeholder: "Please give short (1-2 line) description of your #{setting(:product)}.", class: 'form-control' %>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col form-check" style="margin-left: 15px;">
            <input type="checkbox" id="author-check" class="pre-check form-check-input">
            <label class="form-check-label" for="author-check">I certify that I am submitting software for which I am a primary author</label>
          </div>
          <div class="col form-check">
            <input type="checkbox" id="coc-check" class="pre-check form-check-input">
            <label class="form-check-label" for="coc-check">I confirm that I read and will adhere to the <%= setting(:abbreviation) %> <a href="/about#code_of_conduct" target="_blank">code of conduct</a></label>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <%= submit_tag("Submit paper", class: "btn disabled", disabled: "disabled", id: "author-submit") %>
      </div>
      <% end %>
    </div>
  </div>
</div>
