<div class="wrapper">
  <div class="new-paper">
    <h1>Submit <%= setting(:product) %> for review</h1>

    <div class="columns new-paper-form">
      <div class="column three-thirds flash flash-warn">
        <strong>⚠️ ⚠️ ⚠️ Before you submit ⚠️ ⚠️ ⚠️ </strong>
        <p>As the submitting author, before you submit, please make sure that you have reviewed the following items. We promise this will make things go much more quickly during the review process <span class="octicon octicon-rocket"></span>:
          <ul>
            <li>You have reviewed the <a href="https://joss.readthedocs.io/en/latest/submitting.html">submission instructions</a> and verified that your submission meets our <a href="https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements">submission requirements</a>.</li>
            <li>There is a Markdown file named <code>paper.md</code> present in your repository that is structured <a href="https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography">like this</a>.</li>
            <li>You have included the <a href="https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain">required sections</a> in your paper.</li>
          </ul></p>
      </div>

      <%= form_for @paper do |f| %>
        <%= render :partial => "shared/errors", :locals => { :object => @paper } if @paper.errors.any? %>
        <%- if paper_types.present? %>
          <dl class="clear full">
            <dt><%= f.label :kind, "Type" %></dt>
            <dt><%= f.select :kind, paper_types %></dt>
          </dl>
        <%- end %>
        <dl class="one-half column">
          <dt><%= f.label :title %></dt>
          <dt><%= f.text_field :title, :placeholder => "What's the title of this paper?" %></dt>
        </dl>
        <dl class="one-half column">
          <dt><%= f.label "Repository Address" %></dt>
          <dt><%= f.text_field :repository_url, :placeholder => "What's the URL of your #{setting(:product)}?" %></dt>
        </dl>
        <dl class="one-half column">
          <dt><%= f.label "Software Version" %></dt>
          <dt><%= f.text_field :software_version, :placeholder => "e.g. v1.0.0" %></dt>
        </dl>
        <dl class="one-half column">
          <dt><label>Suggested editor. View editors <%= link_to "here &raquo;".html_safe, "/about#editorial_board", target: "_blank" %></label></dt>
          <dt><%= f.select :suggested_editor, options_for_select(Repository.editors), :include_blank => true, :prompt => "Suggested editor", :class => "form-select left", :style => "margin-right: 12px;" %></dt>
        </dl>
        <dl class="clear full" style="clear:both;">
          <dt><%= f.label "Description" %></dt>
          <dt><%= f.text_area :body, :rows => "7",
            :placeholder => "Please give short (1-2 line) description of your #{setting(:product)}." %></dt>
        </dl>

        <label class="one-half column">
          <input type="checkbox" id="author-check" class="pre-check">
          I certify that I am submitting software for which I am a primary author
        </label>
        <label class="one-half column">
          <input type="checkbox" id="coc-check" class="pre-check">
          I confirm that I read and will adhere to the <%= setting(:abbreviation) %> <a href="/about#code_of_conduct" target="_blank">code of conduct</a>
        </label>
        <div class="form-actions">
          <%= submit_tag("Submit paper", :class => "btn disabled", :disabled => "disabled", :id => "author-submit") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
