<div class="wrapper">
  <div class="new-paper">
    <h1>Submit software for review</h1>

    <div class="columns new-paper-form">
      <div class="column three-thirds flash flash-warn">
        <strong>Before you submit</strong>
        <p>Please make sure you've read the <a href="/about#author_guidelines">submission
          instructions</a> before submitting. In particular please make sure there is a
          <code>paper.md</code> present in your repository that is structured
          <a href="/about#paper_structure">like this</a>. We promise this will make things go much
          more quickly during the review process <span class="octicon octicon-rocket"></span></p>
      </div>

      <%= form_for @paper do |f| %>
        <%= render partial: "shared/errors", locals: { object: @paper } if @paper.errors.any? %>
        <dl class="one-half column">
          <dt><%= f.label :title %></dt>
          <dt><%= f.text_field :title, placeholder: "What's the title of this paper?" %></dt>
        </dl>
        <dl class="one-half column">
          <dt><%= f.label "Repository Address" %></dt>
          <dt><%= f.text_field :repository_url, placeholder: "What's the URL of your software?" %></dt>
        </dl>
        <dl class="one-half column">
          <dt><%= f.label "Software Version" %></dt>
          <dt><%= f.text_field :software_version, placeholder: "e.g. v1.0.0" %></dt>
        </dl>
        <dl class="one-half column">
          <dt><label>Suggested editor. View editors <a href="http://joss.theoj.org/about#editorial_board" target="_blank">here &raquo;</a></label></dt>
          <dt><%= f.select :suggested_editor, options_for_select(Paper::EDITORS), include_blank: true, prompt: "Suggested editor", class: "form-select left", style: "margin-right: 12px;" %></dt>
        </dl>
        <dl class="clear full">
          <dt><%= f.label "Description" %></dt>
          <dt><%= f.text_area :body, rows: "7",
                              placeholder: "Please give short (1-2 line) description of your software." %></dt>
        </dl>

        <label class="one-half column">
          <input type="checkbox" id="author-check" class="pre-check">
          I certify that I am submitting software for which I am a primary author
        </label>
        <label class="one-half column">
          <input type="checkbox" id="coc-check" class="pre-check">
          I confirm that I read and will adhere to the JOSS <a href="/about#code_of_conduct" target="_blank">code of conduct</a>
        </label>
        <div class="form-actions">
          <%= submit_tag("Submit paper", class: "btn disabled", disabled: "disabled", id: "author-submit") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
