<div class="new-paper">
  <h1>Submit software for review</h1>

  <div class="columns new-paper-form">
    <div class="column three-thirds flash flash-warn">
      <strong>Before you submit</strong>
      <p>Please make sure you've read the <a href="/about#author_guidelines">submission
        instructions</a> before submitting. In particular please make sure there is a
        <code>paper.md</code> present in your repository that is structured
        <a href="/about#paper_structure">like this</a>. We promise this will make things go much
        more quickly during the review process <span class="octicon octicon-rocket"></span></p>
    </div>

    <%= form_for @paper do |f| %>
      <%= render :partial => "shared/errors", :locals => { :object => @paper } if @paper.errors.any? %>
      <dl class="one-fourth column">
        <dt><%= f.label :title %></dt>
        <dt><%= f.text_field :title, :placeholder => "What's the title of this paper?" %></dt>
      </dl>
      <dl class="one-fourth column">
        <dt><%= f.label "Repository Address" %></dt>
        <dt><%= f.text_field :repository_url, :placeholder => "What's the URL of your software?" %></dt>
      </dl>
      <dl class="one-fourth column">
        <dt><%= f.label "Version" %></dt>
        <dt><%= f.text_field :software_version, :placeholder => "e.g. v1.0.0" %></dt>
      </dl>
      <dl class="one-fourth column">
        <dt><%= f.label "DOI", :class => "uppercase" %></dt>
        <dt><%= f.text_field :archive_doi, :placeholder => "The archive DOI of your software." %></dt>
      </dl>

      <dl class="clear full">
        <dt><%= f.label "Description" %></dt>
        <dt><%= f.text_area :body, :rows => "10",
                            :placeholder => "Please add any notes here for the editor for example, where in your repository the paper.md file is. Please note this contents will *not* be reviewed by the JOSS reviewers." %></dt>
      </dl>

      <label>
        <input type="checkbox" id="author-check">
        I certify that I am submitting software for which I am a primary author
      </label>
      <div class="form-actions">
        <%= submit_tag("Submit paper", :class => "btn disabled", :id => "author-submit") %>
      </div>
    <% end %>
  </div>
</div>
