<div class="wrapper">
  <h1>Search papers</h1>

  <% launch_date = Date.parse(setting(:launch_date)) %>

  <p class="lead">Since our launch in <%= launch_date.strftime("%B %Y") %>, <%= setting(:abbreviation).html_safe %> has reviewed and published <%= link_to "#{Paper.accepted.count} papers", published_papers_path %> across a range of disciplines and currently has <%= link_to "#{Paper.in_progress.count} papers", active_papers_path %> under review.</p>

  <% if @filtered_papers %>
    <% if params[:tag] %>
      <h3>Filtered papers with tag '<%= params[:tag] %>'</h3>
    <% elsif params[:language] %>
    <h3>Filtered papers in language '<%= params[:language] %>'</h3>
    <% end %>

    <% @filtered_papers.each do |paper| %>
      <div class="filtered-paper">
        <span class="filtered-paper-title"><%= paper.title %></span> &middot; Accepted <%= time_ago_in_words(paper.accepted_at) %> ago &middot; <%= link_to "View paper &raquo;".html_safe, paper_path(paper) %>
      </div>
    <% end %>

    <div class="pagination centered">
      <%= will_paginate @filtered_papers %>
    </div>
  <% end %>

  <% cache('tags-and-languages', expires_in: 1.hour) do %>
    <h3>Filter papers by programming language</h3>
    <%= paper_by_language_list %>

    <h3>Filter papers by tag</h3>
    <%= paper_by_tag_list %>
  <% end %>

</div>
