<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= Rails.application.settings['name'] %>: <%= @paper.title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="home" type="application/atom+xml" title="Papers" href="/papers.atom">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- clipboard.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

    <!-- facebook open graph tags -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= Rails.application.settings['url'] %>" />
  <meta property="og:site_name" content="<%= Rails.application.settings['name'] %>" />
  <meta property="og:title" content="<%= @paper.title %>" />
  <meta property="og:description" content="<%= @paper.citation_string %>" />
  <meta property="og:image" content="<%= Rails.application.settings['logo_url'] %>" />

  <!-- twitter card tags additive with the og: tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" value="<%= @paper.title %>" />
  <meta name="twitter:site" content="<%= Rails.application.settings['twitter'] %>">
  <meta name="twitter:description" value="<%= @paper.citation_string %>" />
  <meta name="twitter:image" content="<%= Rails.application.settings['logo_url'] %>" />
  <meta name="twitter:url" value="<%= Rails.application.settings['url'] %>" />
  <meta name="twitter:label1" value="ISSN" />
  <meta name="twitter:data1" value="<%= Rails.application.settings['twitter_issn'] %>" />

  <!-- Google Scholar Tags -->

  <% if @paper.doi? %>
  <meta name="citation_title" content="<%= @paper.title %>">
  <meta name="citation_author" content="<%= @paper.authors %>">
  <meta name="citation_publication_date" content="<%= @paper.accepted_at.strftime('%Y/%m/%d') %>">
  <meta name="citation_journal_title" content="<%= Rails.application.settings['name'] %>">
  <meta name="citation_pdf_url" content="<%= @paper.pdf_url %>">
  <meta name="citation_doi" content="<%= @paper.doi %>">
  <meta name="citation_issn" content="<%= Rails.application.settings['twitter_issn'] %>">
  <% end %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47852178-4', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <header class="container-fluid">
    <nav class="navbar navbar-expand-lg">

      <a class="navbar-brand" href="/">
        <%= image_tag "logo_medium.png",size: "48" %>
        <%= image_tag "joss.svg" %>
      </a>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">

          <%- if current_user&.admin? %>
          <%= link_to "Editors", editors_path,class: "nav-item nav-link" %>
          <%- end %>

          <%- if current_user&.editor %>
          <%= link_to "Dashboard", "/dashboard/#{current_user.editor.login}", class: "nav-item nav-link" %>
          <%- end %>

          <%= active_link_to "About", about_path, class: "nav-item nav-link" %>
          <%= active_link_to "Papers", papers_path, class: "nav-item nav-link" %>
          <%= active_link_to "Docs", "https://joss.readthedocs.io/en/latest/index.html", target: '_blank', class: "nav-item nav-link" %>
          <%= link_to "Blog", "http://blog.joss.theoj.org/", class: "nav-item nav-link" %>
          <%= active_link_to "Submit", new_paper_path, class: "nav-item nav-link" %>
          <% if current_user %>
          <%= link_to "My Profile", profile_path, :class => "nav-item nav-link" %>
          <%= link_to "Sign out", signout_path, :class => "nav-item nav-link small" %>
          <% else %>
          <%= link_to "Sign-in", "/auth/orcid", class: "nav-item nav-link" %>
          <% end %>
        </div>

        <%= link_to image_tag("github.svg"), "https://github.com/openjournals/joss", target: '_blank' %>
        <div class="rss-dropdown dropdown" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <%= link_to image_tag("RSS.svg"), "#", class: "dropdown-toggle" %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to "Active Papers - Atom", "http://joss.theoj.org/papers/active.atom", class: "dropdown-item", target: '_blank' %>
            <%= link_to "Accepted Papers - Atom", "http://joss.theoj.org/papers/accepted.atom", class: "dropdown-item", target: '_blank' %>
          </div>
        </div>

    </nav>
    </div>
  </header>
  <div class="container">
    <%= render :partial => "shared/flashes" %>
    <%= render :partial => "shared/profile" if show_profile_banner? %>
  </div>

  <div class="container">
      

      <% unless @paper.doi? %>
      <%= render :partial => "status", :locals => { :paper => @paper } %>
      <%= render :partial => "papers/admin", :locals => { :paper => @paper } if current_user %>
      <% end %>
    
      <% if @paper.doi? %>

        <div class="paper-title">   
             
           <%= link_to image_tag("placeholder-thing.jpg"), "#"%>
           <div class="paper-meta">
              <h1><%= @paper.title %></h1>
              <span class="badge-lang">Python</span>
              <span class="badge-lang">C++</span>
              <span class="badge-lang">Pascal</span>
              <span class="small">Submitted <%= @paper.created_at.strftime('%d %B %Y') %></span>
              •
              <span class="small">Accepted <%= @paper.accepted_at.strftime('%d %B %Y') %></span>
              <%= @paper.authors %>
           </div> 
         </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-8">
                  <object id="joss-paper" data="<%= @paper.pdf_url %>#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0" type="application/pdf" style="width:100%; height:680px;">
                <embed src="<%= @paper.pdf_url %>#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0" type="application/pdf" />
              </object>
            </div>
            <div class="col-md-4">
                 <ul>
                    <li><%= link_to "View review &raquo;".html_safe, @paper.review_url %></a></li>
                    <li><%= link_to "Download paper &raquo;".html_safe, @paper.pdf_url %></li>
                    <li><%= link_to "Software repository &raquo;".html_safe, @paper.repository_url %></li>
                    <li><%= link_to "Software archive &raquo;".html_safe, @paper.clean_archive_doi %></li>
                 </ul>

          <p class="citation"><strong>Cite as:</strong> <%= @paper.citation_string %></p>

          <p class="badge">
            <strong>Status badge</strong>
            <%= image_tag @paper.status_badge_url %><a href="#" class="clippy" data-clipboard-action="copy" data-clipboard-text="<%= @paper.markdown_code %>"></a>
          </p>

          <p class="license">
            <strong>License</strong>
            Authors of <%= Rails.application.settings['abbreviation'] %> papers retain copyright.<br /><br />
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
          </p>
          </div>
          </div>
        
        </div>

       
       
       
       
       
       
       
       
        

        <% else %>
        <div class="paper-body"><%= formatted_body(@paper) %></div>
        <div class="one-half column paper-meta">
          <p><strong>Repository Address</strong>: <%= link_to @paper.repository_url, @paper.repository_url %></p>
        </div>
        <div class="one-half column paper-meta">
          <% unless @paper.archive_doi %>
            <p><strong>Archive DOI</strong>: pending</p>
          <% else %>
            <p><strong>Archive DOI</strong>: <%= link_to @paper.archive_doi, @paper.doi_with_url %></p>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

 
</body>
</html>
