<div class="wrapper">
  <div class="show-paper">
    <%= render :partial => "status", :locals => { :paper => @paper } %>
    <h1><%= @paper.title %></h1>

    <%= render :partial => "papers/admin", :locals => { :paper => @paper } if current_user %>

    <div class="columns">
      <p class="lead"><%= @paper.body %></p>

      <div class="one-half column paper-meta">
        <p><strong>Repository Address</strong>: <%= link_to @paper.repository_url, @paper.repository_url %></p>
      </div>
      <div class="one-half column paper-meta">
        <p><strong>Archive DOI</strong>: <%= link_to @paper.archive_doi, @paper.doi_with_url %></p>
      </div>
    </div>
  </div>
</div>
