<div class="wrapper">
  <div class="show-paper">
    <% unless @paper.doi? %>
    <%= render partial: "status", locals: { paper: @paper } %>
    <%= render partial: "papers/admin", locals: { paper: @paper } if current_user %>
    <% end %>
    <div class="columns">
      <% if @paper.doi? %>
      <%= @paper.paper_body.html_safe %>
      <% else %>
      <div class="paper-body"><%= formatted_body(@paper) %></div>
      <div class="one-half column paper-meta">
        <p><strong>Repository Address</strong>: <%= link_to @paper.repository_url, @paper.repository_url %></p>
      </div>
      <div class="one-half column paper-meta">
        <% unless @paper.archive_doi %>
          <p><strong>Archive DOI</strong>: pending</p>
        <% else %>
          <p><strong>Archive DOI</strong>: <%= link_to @paper.archive_doi, @paper.doi_with_url %></p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
