<h3>What <em>exactly</em> do you mean by 'journal'</h3>

<p>
  The <%= Rails.application.settings['name'] %> (<%= Rails.application.settings['abbreviation'] %>) is an academic journal (ISSN <%= Rails.application.settings['twitter_issn'] %>) with a formal
  peer review process that is designed to <em>improve the quality of the software submitted</em>.
  Upon acceptance into <%= Rails.application.settings['abbreviation'] %>, a Crossref DOI is minted and we list your paper on the <%= Rails.application.settings['abbreviation'] %> website.
</p>

<h3>Don't we have enough journals already?</h3>

<p>
  Perhaps, and in a perfect world we'd rather papers about software weren't necessary but we
  recognize that for most researchers, papers and not software are the currency of academic research
  and that citations are required for a good career.
</p>

<p>
  We built this journal because we believe that after you've done the hard work of writing great
  software, it shouldn't take weeks and months to write a paper about your work.
</p>

<h3>You said <em>developer friendly</em>, what do you mean?</h3>

<p>
  We have a simple submission workflow and extensive documentation to help you prepare your
  submission. If your software is already well documented then paper preparation should take no
  more than an hour.
</p>

<p>
  You can read more about our motivations to build <%= Rails.application.settings['abbreviation'] %> in our
  <a href="http://www.arfon.org/announcing-the-journal-of-open-source-software" target="_blank">announcement blog post</a>.
</p>
