
<h3>What <em>exactly</em> do you mean by 'journal'</h3>

<p>
  The <%= Rails.application.settings['name'] %> (<%= Rails.application.settings['abbreviation'] %>) is an academic journal (ISSN <%= Rails.application.settings['issn'] %>) with a formal
  peer review process that is designed to <em>improve the quality of the software submitted</em>.
  Upon acceptance into <%= Rails.application.settings['abbreviation'] %>, a Crossref DOI is minted and we list your paper on the <a href="https://juliacon.org/"><%= Rails.application.settings['abbreviation'] %> website</a>.
</p>

<h3>Don't we have enough journals already?</h3>

<p>
  Perhaps, and in a perfect world we'd rather papers about software weren't necessary but we
  recognize that for most researchers, papers and not software are the currency of academic research
  and that citations are required for a good career.
</p>

<p>
  We built this journal because we believe that after you've done the hard work of writing great
  software, it shouldn't take weeks and months to write a paper about your work.
</p>

<h3>You said <em>developer friendly</em>, what do you mean?</h3>

<p>
  We have a simple submission workflow and an accessible <%= link_to "author's guide", "https://juliacon.github.io/proceedings-guide/author/", target: "_blank" %> to help you prepare your
  submission. As further guidance, there is the <%= link_to "extensive JOSS documentation", "https://joss.readthedocs.io/en/latest/submitting.html", target: "_blank" %>. If your software is already well documented then paper preparation should take no
  more than an hour.
</p>

<h3>I want to support you as a reviewer. Where do I apply?</h3>
