<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Journal of Open Source Software</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47852178-4', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <header class="masthead">
    <div class="wrapper">
      <a href="/" class="masthead-logo">
        <%= image_tag "logo_small.png" %> <span class='header-text'>The Journal of Open Source Software</span>
      </a>

      <nav class="masthead-nav">
        <%= link_to "Submit", new_paper_path %>
        <%= link_to "Papers", papers_path %>
        <%= link_to "About", about_path %>
        <% if current_user %>
          <strong><%= link_to current_user.nice_name, profile_path, :class => "profile-link" %> &middot; <%= link_to "Sign out", signout_path %></strong>
        <% else %>
          <%= link_to "Sign in", "/auth/orcid", :class => "btn btn-reverse" %>
        <% end %>
      </nav>
    </div>
  </header>
  <div class="wrapper">
    <%= render :partial => "shared/flashes" %>
    <%= render :partial => "shared/profile" if show_profile_banner? %>
  </div>

  <%= yield %>
</body>
</html>
