<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= setting(:name) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <!-- Atom feeds -->
  <link rel="alternate" type="application/atom+xml" title="<%= setting(:name) %>: All papers"
    href="<%= setting(:url) %>/papers.atom">
  <link rel="alternate" type="application/atom+xml" title="<%= setting(:name) %>: Accepted papers"
    href="<%= setting(:url) %>/papers/published.atom">
  <link rel="alternate" type="application/atom+xml" title="<%= setting(:name) %>: In progress papers"
    href="<%= setting(:url) %>/papers/active.atom">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="home" type="application/atom+xml" title="Papers" href="/papers.atom">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- facebook open graph tags -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= setting(:url) %>" />
  <meta property="og:title" content="<%= setting(:name) %>" />
  <meta property="og:description" content="<%= strip_tags(name_and_tagline) %>" />
  <meta property="og:image" content="<%= setting(:logo_url) %>" />

  <!-- twitter card tags additive with the og: tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" value="<%= setting(:name) %>" />
  <meta name="twitter:site" content="<%= setting(:twitter) %>">
  <meta name="twitter:description" value="<%= strip_tags(name_and_tagline) %>" />
  <meta name="twitter:image" content="<%= setting(:logo_url) %>" />
  <meta name="twitter:url" value="<%= setting(:url) %>" />
  <meta name="twitter:label1" value="ISSN" />
  <meta name="twitter:data1" value="<%= setting(:issn) %>" />

  <meta name="google-site-verification" content="<%= setting(:google_site_verification) %>" />

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '<%= setting(:google_analytics) %>', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>
  <header class="container-fluid">
    <%= render partial: "content/layout/navbar" %>
  </header>


  <div class="container">
    <div id="flash-message-wrapper">
      <%= render partial: "shared/flashes" %>
    </div>
    <%= render partial: "shared/profile" if show_profile_banner? %>
  </div>

  <%= yield %>

  <div class="container-fluid">
    <%= render partial: "content/layout/footer" %>
  </div>
</body>
</html>
