<!DOCTYPE html>
<html lang="en">
<title>The Journal of Open Source Software</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
<body>
  <header class="masthead">
    <div class="container">
      <a href="/" class="masthead-logo">
      <span class="mega-octicon octicon-book"></span>
        The Journal of Open Source Software
      </a>

      <nav class="masthead-nav">
        <%= link_to "Submit", new_paper_path %>
        <%= link_to "About", about_path %>
        <% if current_user %>
          <%= current_user.nice_name %> &middot; <%= link_to "Sign out", signout_path %>
        <% else %>
          <%= link_to "Sign in", "/auth/orcid", :class => "btn btn-reverse" %>
        <% end %>
      </nav>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
